<!DOCTYPE html>
<html lang="en" dir="ltr"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더 -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body class="layout-light top-menu overlayScroll">
	<div class="mobile-search"></div>

    <div class="mobile-author-actions"></div>
		
		<!-- 상단바 -->
		<th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
		<main class="main-content" style="background-color: #fafef5;">
			
			<!-- 사이드바 -->
			<!-- <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block> -->
			
			<div class="contents" style="background-color: #fafef5;">
				<!-- 본문 -->
				<th:block layout:fragment="content"></th:block>
			</div>
		</main>
		
		<!-- 공통 하단 -->
		<th:block th:replace="fragments/footer :: footerFragment"></th:block>
		<!-- 공통 js -->
		<th:block th:replace="fragments/commonjs :: commonjsFragment"></th:block>
	    
	<script type="text/javascript">
		//해당 페이지 탭 active css 주기
		var pathname = window.location.pathname;
		var pathArray = pathname.split("/");
		$("#"+pathArray[1]).addClass("active");
		if(pathArray[2] != null){
			$("."+pathArray[2]).addClass("active");
		}
		
		
	</script>
	    
</body>

</html>