<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- 공통 헤더 -->
    <th:block th:include="@{/fragments/header.html}"></th:block>

    <style>
        table {
            border-top: 1px solid grey;
            border-collapse: collapse;
        }

        th, td {
            border-bottom: 2px solid #E5E9F2;
            padding: 10px;
            text-align: center;
            font-weight: initial;
        }

        th, tbody tr {
            background-color: white;
        }

    </style>

</head>

<body class="layout-light top-menu overlayScroll">
<div class="mobile-search"></div>

<div class="mobile-author-actions"></div>

<!-- 공통 topbar -->
<th:block th:include="@{/fragments/topbar.html}"></th:block>

<main class="main-content" style="background-color: #FCFCFC;">

    <div class="contents" style="background-color: #FFFFFF;">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-30">
                    <div class="card">
                        <div class="card-extra mt-20 mr-20">
                            <div class="breadcrumb-main" style="float: left;">
                                <h4 class="text-capitalize breadcrumb-title">품종 관리</h4>
                            </div>
                            <!-- 버튼 등록하는 곳 -->
                            <div class="action-btn d-flex justify-content-end">
                                <div class="atbd-button-list d-flex flex-wrap">
                                    <form action="" name="searchForm" class="d-flex align-items-center add-contact__form my-sm-0 my-2">
                                        <!-- 작물 선택 -->
                                        <select class="form-control form-control-lg mt-10 mb-10 mr-10" style="width: 250px;">
                                            <option value="none">작물 선택</option>
                                            <option value="pepper">고추</option>
                                            <option value="green_onion">대파</option>
                                            <option value="melon">멜론</option>
                                            <option value="radish">무</option>
                                            <option value="napa_cabbage">배추</option>
                                            <option value="water_melon">수박</option>
                                            <option value="cabbage">양배추</option>
                                            <option value="onion">양파</option>
                                            <option value="korean_melon">참외</option>
                                            <option value="tomato">토마토</option>
                                        </select>
                                    </form>
                                    <!-- 엑셀 업로드 버튼 -->
                                    <form th:action="@{/genetic}" method="post" enctype="multipart/form-data">
                                        <input type="file" th:name="file">
                                        <input th:type="submit" value="go">
                                    </form>
                                    <!-- CSV 생성 버튼 -->
                                    <button class="btn btn-lg btn-primary"><span data-feather="download"></span>CSV</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="bg-white">
                                <div class="table-responsive" id="displayExcelHtml">
                                    <table class="table" id="table1">
                                        <thead class="text-center">
                                        <tr>
                                            <th></th>
                                            <th>첨부파일</th>
                                            <th scope="col">ID</th>
                                            <th scope="col">품종명</th>
                                            <th scope="col">특성상태</th>
                                            <th scope="col">모계 계통명</th>
                                            <th scope="col">부계 계통명</th>
                                            <th scope="col">생산판매(신고번호)</th>
                                            <th scope="col">생산판매(신고일자)</th>
                                            <th scope="col">보호출원(출원번호)</th>
                                            <th scope="col">보호출원(출원일자)</th>
                                            <th scope="col">보호등록(등록번호)</th>
                                            <th scope="col">보호등록(등록일자)</th>
                                            <th scope="col">미등록(현지상업화)</th>
                                            <th scope="col">목표 시장</th>
                                            <th scope="col">형태 구분1</th>
                                            <th scope="col">형태 구분2</th>
                                            <th scope="col">작물 타입1</th>
                                            <th scope="col">작물 타입2</th>
                                            <th scope="col">비고</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center">
                                        <tr th:each="data : ${datas}">
                                            <td><input type="checkbox" name="chkBox"></td>
                                            <td>
                                                <button class="btn btn-light btn-default btn-squared btn-transparent-light"
                                                        data-toggle="modal" data-target="#gen-attach"><span data-feather="file-plus"></span></button>
                                            </td>
                                            <td th:text="${data.code}"></td>
                                            <td th:text="${data.kind}"></td>
                                            <td></td>
                                            <td th:text="${data.mom}"></td>
                                            <td th:text="${data.dad}"></td>
                                            <td th:text="${data.sale_num}"></td>
                                            <td th:text="${data.sale_date}"></td>
                                            <td th:text="${data.apply_num}"></td>
                                            <td th:text="${data.apply_date}"></td>
                                            <td th:text="${data.enroll_num}"></td>
                                            <td th:text="${data.enroll_date}"></td>
                                            <td th:text="${data.local}"></td>
                                            <td th:text="${data.purpose}"></td>
                                            <td th:text="${data.first_form}"></td>
                                            <td th:text="${data.second_form}"></td>
                                            <td th:text="${data.first_crop}"></td>
                                            <td th:text="${data.second_crop}"></td>
                                            <td th:text="${data.comment}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <button class="btn btn-icon btn-light btn-circle" data-toggle="modal" data-target="#gen-insert">
                                            <span data-feather="plus"></span>
                                        </button>

                                        <input type="button" class="btn btn-icon btn-light btn-circle" data-feather="trash" onclick="delRow()"/>
                                    </div>
                                    <div class="col-4">
                                        <div class="d-flex justify-content-center mt-30">
                                            <nav class="atbd-page">
                                                <ul class="atbd-pagination d-flex">
                                                    <li class="atbd-pagination__item">
                                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                            class="la la-angle-left"></span></a>
                                                        <a href="#" class="atbd-pagination__link"><span class="page-number">1</span></a>
                                                        <a href="#" class="atbd-pagination__link active"><span class="page-number">2</span></a>
                                                        <a href="#" class="atbd-pagination__link"><span class="page-number">3</span></a>
                                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                            class="page-number">...</span></a>
                                                        <a href="#" class="atbd-pagination__link"><span class="page-number">12</span></a>
                                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                            class="la la-angle-right"></span></a>
                                                        <a href="#" class="atbd-pagination__option">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- modal code -->
    <div class="modal-basic modal fade show" id="gen-attach" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">품종관리 > 첨부파일</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-0">
                        <span>제목</span>
                        <input type="text" class="form-control form-control-lg">
                    </div>
                    <div class="form-group mb-0">
                        <textarea style="resize:none;"></textarea>
                    </div>
                    <div>
                        <div class="atbd-upload">
                            <div class="atbd-upload__button">
                                <a href="javascript:void(0)" class="btn btn-lg btn-outline-lighten btn-upload"
                                   onclick="$('#upload').click()"> <span data-feather="upload"></span>Click to Upload</a>
                                <input type="file" name="upload-3" class="upload-one" id="upload">
                            </div>
                            <div class="atbd-upload__file">
                                <ul>
                                    <li>
                                        <a href="#" class="file-name"><i class="las la-paperclip"></i> <span
                                            class="name-text">xxx.png<span></span></span></a>
                                        <a href="#" class="btn-delete"><i class="la la-trash"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary btn-sm">저장</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-basic modal fade show" id="grid" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">품종관리 > 원예형질[종자원 기준]</h6>
                    시교명 ID : <span></span>
                </div>
                <div class="modal-body">
                    <div class="tab-pane fade show active" id="control1" role="tabpanel" aria-labelledby="control1-tab">
                        <div class="tab-slide-content">
                            <div class="atbd-tab tab-horizontal">
                                <ul class="nav nav-tabs vertical-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-horizontal-1-tab" data-toggle="tab"
                                           href="#tab-horizontal-1" role="tab" aria-controls="tab-horizontal-1"
                                           aria-selected="true">원예형질[종자원 기준]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-horizontal-2-tab" data-toggle="tab"
                                           href="#tab-horizontal-2" role="tab" aria-controls="tab-horizontal-2"
                                           aria-selected="false">원예형질[사내 기준]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-horizontal-3-tab" data-toggle="tab"
                                           href="#tab-horizontal-3" role="tab" aria-controls="tab-horizontal-3"
                                           aria-selected="false">병저항성[종자원 기준]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-horizontal-4-tab" data-toggle="tab"
                                           href="#tab-horizontal-4" role="tab" aria-controls="tab-horizontal-4"
                                           aria-selected="false">병저항성[사내 기준]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-horizontal-5-tab" data-toggle="tab"
                                           href="#tab-horizontal-5" role="tab" aria-controls="tab-horizontal-5"
                                           aria-selected="false">성분정보[종자원 기준]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-horizontal-6-tab" data-toggle="tab"
                                           href="#tab-horizontal-6" role="tab" aria-controls="tab-horizontal-6"
                                           aria-selected="false">마커정보</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-horizontal-1" role="tabpanel"
                                         aria-labelledby="tab-horizontal-1-tab">
                                        <div class="form-group mb-0">
                                            <span>1. 모 : 하배축의 안토시아닌 착색(계급)</span>
                                            <input type="text" class="form-control form-control-lg">
                                        </div>
                                        <div class="form-group mb-0">
                                            <span>2. 식물체 : 생장습성(계급)</span>
                                            <input type="text" class="form-control form-control-lg">
                                        </div>
                                        <div class="form-group mb-0">
                                            <span>3-1. 식물체 : 주간의 길이</span>
                                            <input type="text" class="form-control form-control-lg">
                                        </div>
                                        <div class="form-group mb-0">
                                            <span>3-2. 식물체 : 주간의 길이(cm)</span>
                                            <input type="text" class="form-control form-control-lg">
                                        </div>
                                        <div class="form-group mb-0">
                                            <span>4. 식물체 : 단축절간(계급)</span>
                                            <input type="text" class="form-control form-control-lg">
                                        </div>
                                        <div class="form-group mb-0">
                                            <span>5. 식물체 : 제 1 변화와 단축절간 사이의 절간(개수)</span>
                                            <input type="text" class="form-control form-control-lg">
                                        </div>
                                        <div class="form-group mb-0">
                                            <span>6-1. 식물체 : 절간의 길이(계급)</span>
                                            <input type="text" class="form-control form-control-lg">
                                        </div>
                                        <div class="form-group mb-0">
                                            <span>6-2. 식물체 : 절간의 길이(cm)</span>
                                            <input type="text" class="form-control form-control-lg">
                                        </div>
                                        <div class="form-group mb-0">
                                            <span>7. 식물체 : 마디부위의 안토시아닌 착색(계급)</span>
                                            <input type="text" class="form-control form-control-lg">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-horizontal-2" role="tabpanel"
                                         aria-labelledby="tab-horizontal-2-tab">
                                        <p>Content of Tab Pane 2</p>
                                    </div>
                                    <div class="tab-pane fade" id="tab-horizontal-3" role="tabpanel"
                                         aria-labelledby="tab-horizontal-3-tab">
                                        <p>Content of Tab Pane 3</p>
                                    </div>
                                    <div class="tab-pane fade" id="tab-horizontal-4" role="tabpanel"
                                         aria-labelledby="tab-horizontal-4-tab">
                                        <p>Content of Tab Pane 4</p>
                                    </div>
                                    <div class="tab-pane fade" id="tab-horizontal-5" role="tabpanel"
                                         aria-labelledby="tab-horizontal-5-tab">
                                        <p>Content of Tab Pane 5</p>
                                    </div>
                                    <div class="tab-pane fade" id="tab-horizontal-6" role="tabpanel"
                                         aria-labelledby="tab-horizontal-6-tab">
                                        <p>Content of Tab Pane 6</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary btn-sm">저장</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-basic modal fade show" id="gen-insert" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">INSERT ROW</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-0">
                        <span>ID</span>
                        <input type="text" id="row_id" class="form-control form-control-lg">
                    </div>
                    <div class="form-group mb-0">
                        <span>품종명</span>
                        <input type="text" id="row_name" class="form-control form-control-lg">
                    </div>
                    <div class="form-group mb-0">
                        <span>특성상태</span>
                        <input type="text" id="row_state" class="form-control form-control-lg">
                    </div>
                    <div class="form-group mb-0">
                        <span>모계 계통명</span>
                        <input type="text" id="row_mother" class="form-control form-control-lg">
                    </div>
                    <div class="form-group mb-0">
                        <span>부계 계통명</span>
                        <input type="text" id="row_father" class="form-control form-control-lg">
                    </div>
                    <div class="form-group mb-0">
                        <span>생산판매(신고번호)</span>
                        <input type="text" id="row_num" class="form-control form-control-lg">
                    </div>
                    <div class="form-group mb-0">
                        <span>생산판매(신고일자)</span>
                        <input type="text" id="row_date" class="form-control form-control-lg">
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="add_row()" data-dismiss="modal">저장</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
</main>

<!-- 공통 하단 -->
<th:block th:include="@{/fragments/footer.html}"></th:block>
<!-- 공통 js -->
<th:block th:include="@{/fragments/commonjs.html}"></th:block>

<script type="text/javascript">

    /* row 삭제 스크립트 */
    function delRow() {
        var checkRows = $("[name = 'chkBox']:checked");

        for (var i = checkRows.length - 1; i > -1; i--) {
            checkRows.eq(i).closest('tr').remove();
        }
    }

    /* row 추가 스크립트 */
    function add_row() {
        var material0 = document.getElementById('row_id').value;
        var material_ans0 = '';

        if (material0 == '') {
            material_ans0 = '-';
        } else {
            material_ans0 += '<span>' + material0 + '</span>';
        }

        var material1 = document.getElementById('row_name').value
        var material_ans1 = '';

        if (material1 == '') {
            material_ans1 = '-';
        } else {
            material_ans1 += '<span>' + material1 + '</span>';
        }

        var material2 = document.getElementById('row_state').value
        var material_ans2 = '';

        if (material2 == '') {
            material_ans2 = '-';
        } else {
            material_ans2 += '<span>' + material2 + '</span>';
        }

        var material3 = document.getElementById('row_mother').value
        var material_ans3 = '';

        if (material3 == '') {
            material_ans3 = '-';
        } else {
            material_ans3 += '<span>' + material3 + '</span>';
        }

        var material4 = document.getElementById('row_father').value
        var material_ans4 = '';

        if (material4 == '') {
            material_ans4 = '-';
        } else {
            material_ans4 += '<span>' + material4 + '</span>';
        }

        var material5 = document.getElementById('row_num').value
        var material_ans5 = '';

        if (material5 == '') {
            material_ans5 = '-';
        } else {
            material_ans5 += '<span>' + material5 + '</span>';
        }

        var material6 = document.getElementById('row_date').value
        var material_ans6 = '';

        if (material6 == '') {
            material_ans6 = '-';
        } else {
            material_ans6 += '<span>' + material6 + '</span>';
        }

        $("#table1>tbody").append('<tr><td><input type="checkbox" name="chkBox"></td>' +
            '<td><button class="btn btn-light btn-default btn-squared btn-transparent-light" data-toggle="modal" data-target="#gen-attach"><span data-feather="file-plus"></span></button></td>'+ '<td>' + material_ans0 + '</td>' + '<td>' + material_ans1 + '</td><td>' + material_ans2 + '</td><td>' + material_ans3 + '</td><td>' + material_ans4 + '</td><td>' + material_ans5 + '</td><td>' + material_ans6 + '</td></tr>');
    }
</script>

</body>

</html>