<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- 공통 헤더 -->
    <th:block th:include="/../fragments/header.html"></th:block>
    <style>
        table {
            border-top: 1px solid grey;
            border-collapse: collapse;
        }

        th, td {
            border-bottom: 2px solid #E5E9F2;
            padding: 10px;
            text-align: center;
            font-weight: initial;
        }

        th, tbody tr {
            background-color: white;
        }

        .main-content .card-extra .btn-group > .btn {
            width: 150px;
        }

        .main-content .card-extra .justify-content-end .atbd-button-list {
            width: 100%;
            margin: 0;
        }

        .main-content .nav-tabs .nav-link.active, .main-content .nav-tabs .nav-item.show .nav-link, .modal-basic .atbd-tab .nav-link {
            color: #D9D9D9;
            font-size: 16px;
            font-weight: 700;
        }

        .main-content .atbd-tab .nav-link:after {
            background-color: #f4f5f7;
        }

        .modal-basic .atbd-tab .nav-tabs .nav-item.active a {
            border-radius: 21px;
            background-color: #EDF6F1;
            color: #217566;
            font-size: 16px;
            font-weight: 700;
        }

        .modal-basic .atbd-tab .nav-tabs .nav-item a::after,
        .modal-basic .atbd-tab .nav-tabs:after {
            display: none;
        }

        .content_title {
            width: 100%;
            background-color: #F7F7F8;
            padding: 10px 0;
        }

        .content_title li {
            float: left;
            width: 50%;
            text-align: center;
        }

        .content_1 {
            padding: 20px;
            max-height: 500px;
            overflow: auto;
            line-height: 2;
        }

        .content_1 .title {
            float: left;
        }

        .content_1 .input_text {
            float: right;
            width: 30%;
        }

        .content_1 .input_text input[type="text"] {
            width: 180%;
        }

        .content_1 li {
            display: inline-block;
            width: 80%;
            color: #222222;
            font-size: 16px;
        }

        .pop1 .modal-dialog textarea {
            width: 100%;
            height: 300px;
            border-radius: 5px;
            border: 1px solid #D9D9D9;
        }

        .pop1 .modal-dialog .btn-upload {
            width: 100%;
        }

        .pop1 .atbd-upload__file {
            display: none;
        }

        .pop2 .modal-header {
            display: -webkit-box;
        }

        .main-content .pop1 .form-group input[type=text] {
            flex: 0 0 85%;
        }

        .main-content .pop1 .form-group span {
            flex: 0 0 10%;
        }

        .main-content .pop1 a.btn-outline-lighten {
            display: block;
            text-align: left;
            color: #B2B2B2;
        }

        #gen-messege {
            display: table;
        }

        #gen-messege .modal-dialog {
            display: table-cell;
            vertical-align: middle;
        }

        #gen-messege .modal-dialog .modal-content {
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
            padding: 40px 0;
        }

        #gen-messege .modal-dialog .modal-content .messege {
            padding-bottom: 30px;
        }

        @media (min-width: 576px) {
            .modal-dialog {
                max-width: 1014px;
                margin: 1.75rem auto;
            }

            .pop1 .modal-dialog {
                max-width: 750px;
            }

            .pop4 .modal-dialog {
                max-width: 750px;
                margin: 0 auto;
            }
        }

        .btn.btn-light.btn-transparent-light {
            display: block;
            width: 100%;
            background-color: rgba(244, 245, 247, 0);
        }

        .main-content .contents .container-fluid {
            max-width: 100%;
            padding: 50px;
        }

        .bg-white > .row {
            padding-top: 50px;
        }

        .table th, .table td {
            vertical-align: middle;
        }

        td .btn i.bi-file-earmark-arrow-down {
            color: #000;
        }

        #data_upload .modal-body .form-group {
            justify-content: flex-start;
        }

        #data_upload .form-group button, #data_upload2 .form-group button {
            height: 45px;
            padding: 0 20px;
            background-color: #217566;
            color: #fff;
            border: none;
            border-radius: 5px;
            margin-left: 10px;
        }

        #data_upload2 .form-group button {
            margin-left: 0;
        }

        #data_upload .form-group input[type=text], #data_upload2 .form-group input[type=text] {
            flex: 0 0 30%;
            cursor: pointer;
        }

        #data_upload .form-group input[type=text]::-webkit-input-placeholder {
            background: url("../assets/vendor_assets/img/upload.png") no-repeat 0 3px;
            background-size: 15px;
            color: #B2B2B2;
        }

        #data_upload .atbd-upload, #data_upload2 .atbd-upload {
            width: 100%;
            height: 300px;
            overflow: auto;
        }

        #data_upload .atbd-upload table {
            min-width: max-content;
            border: none;
        }

        #data_upload2 .atbd-upload table {
            width: 100%;
        }

        #data_upload table thead tr, #data_upload2 table thead tr {
            border-top: none;
            border-bottom: 2px solid #E8EEF2;
        }

        #data_upload table tbody tr, #data_upload2 table tbody tr {
            border-bottom: 1px solid #E8EEF2;
        }

        #data_upload .atbd-upload table thead th, #data_upload2 .atbd-upload table thead th {
            background-color: #F7F7F8;
            color: #222222;
            font-size: 16px;
        }

        #data_upload .atbd-upload table tbody td, #data_upload2 .atbd-upload table tbody td {
            background-color: #fff;
            color: #666666;
            font-size: 16px;
            font-weight: 200;
        }
    </style>

</head>

<body class="layout-light top-menu overlayScroll">
<div class="mobile-search"></div>

<div class="mobile-author-actions"></div>

<!-- 공통 topbar -->
<th:block th:include="/../fragments/topbar.html"></th:block>

<main class="main-content" style="background-color: #FCFCFC;">

    <div class="contents" style="background-color: #FFFFFF;">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-30">
                    <div class="card">
                        <div class="card-extra mt-20 mr-20">
                            <div class="breadcrumb-main" style="float: left;">
                                <h4 class="text-capitalize breadcrumb-title">도입 자원 관리</h4>
                            </div>
                            <!-- 버튼 등록하는 곳 -->
                            <div class="action-btn d-flex justify-content-end">
                                <div class="atbd-button-list d-flex flex-wrap">
                                    <div class="btn-group atbd-button-group btn-group-normal my-2" role="group">
                                        <button type="button" class="btn btn-xs btn-outline-light" onclick="view(1)">도입자원관리</button>
                                        <button type="button" class="btn btn-xs btn-outline-light" onclick="view(2)">도입자원재고관리</button>
                                    </div>
                                    <form action="" name="searchForm" class="d-flex align-items-center add-contact__form my-sm-0 my-2">
                                        <select class="form-control form-control-lg mt-10 mb-10 mr-10" style="width: 250px;" id="CropSelect">
                                            <option value="none">작물 선택</option>
                                            <option value="고추">고추</option>
                                            <option value="대파">대파</option>
                                            <option value="멜론">멜론</option>
                                            <option value="무">무</option>
                                            <option value="배추">배추</option>
                                            <option value="수박">수박</option>
                                            <option value="양배추">양배추</option>
                                            <option value="양파">양파</option>
                                            <option value="참외">참외</option>
                                            <option value="토마토">토마토</option>
                                        </select>
                                    </form>
                                    <button class="btn btn-lg btn-primary data_btn2" data-toggle="modal" data-target="#data_upload2"><img
                                        src="../assets/vendor_assets/img/icon2.png" alt=""></button>
                                    <button class="btn btn-lg btn-primary data_btn2"><img src="../assets/vendor_assets/img/icon3.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="bg-white">
                                <div class="table-responsive">
                                    <table class="table" id="table1">
                                        <thead class="text-center">
                                        <tr>
                                            <th></th>
                                            <th><span class="title">첨부파일</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                           alt="첨부파일"></th>
                                            <th style="cursor: pointer;"><span class="title">특성상태</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                    alt="특성상태"></th>
                                            <th style="cursor: pointer;"><span class="title">작물</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                  alt="작물"></th>
                                            <th style="cursor: pointer;"><span class="title">도입번호 (ID)</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                         alt="도입번호"></th>
                                            <th style="cursor: pointer;"><span class="title">품종명</span><i></i><img src="../assets/vendor_assets/img/title_icon.png" alt="품종명">
                                            </th>
                                            <th style="cursor: pointer;"><span class="title">구분</span><i></i><img src="../assets/vendor_assets/img/title_icon.png" alt="구분">
                                            </th>
                                            <th style="cursor: pointer;"><span class="title">도입처</span><i></i><img src="../assets/vendor_assets/img/title_icon.png" alt="도입처">
                                            </th>
                                            <th style="cursor: pointer;"><span class="title">도입국가</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                    alt="도입국가"></th>
                                            <th style="cursor: pointer;"><span class="title">도입자</span><i></i><img src="../assets/vendor_assets/img/title_icon.png" alt="도입자">
                                            </th>
                                            <th style="cursor: pointer;"><span class="title">도입연월일</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                     alt="도입연월일"></th>
                                            <th style="cursor: pointer;"><span class="title">현 종자량</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                     alt="현 종자량"></th>
                                            <th style="cursor: pointer;"><span class="title">타입</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                  alt="타입"></th>
                                            <th style="cursor: pointer;"><span class="title">주요 특성</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                     alt="주요 특성"></th>
                                            <th style="cursor: pointer;"><span class="title">비고</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                  alt="비고"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center" id="income_list">
                                        <!--<tr>
                                            <td><input type="checkbox"></td>
                                            <td>
                                                <button class="btn btn-light btn-default btn-squared btn-transparent-light"
                                                        data-toggle="modal" data-target="#gen-attach"><span data-feather="file-plus"></span></button>
                                            </td>
                                            <td><span>P16E0001</span></td>
                                            <td><span>128 F1</span></td>
                                            <td><span>F1</span></td>
                                            <td><span>shouguang</span></td>
                                            <td><span>중국</span></td>
                                            <td><span>-</span></td>
                                            <td><span>2016-11-21</span></td>
                                        </tr>-->
                                        </tbody>
                                    </table>

                                    <table class="table" id="table2">
                                        <thead class="text-center">
                                        <tr>
                                            <th style="cursor: pointer;"><span class="title">순번</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                  alt="순번"></th>
                                            <th style="cursor: pointer;"><span class="title">종자 보유량</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                      alt="종자 보유량"></th>
                                            <th style="cursor: pointer;"><span class="title">입고량</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                   alt="입고량"></th>
                                            <th style="cursor: pointer;"><span class="title">출고량</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                   alt="출고량"></th>
                                            <th style="cursor: pointer;"><span class="title">재고량</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                   alt="재고량"></th>
                                            <th style="cursor: pointer;"><span class="title">담당자</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                   alt="담당자"></th>
                                            <th style="cursor: pointer;"><span class="title">일자</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                                                  alt="일자"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center">
                                        <tr>
                                            <td><span>P16E0001</span></td>
                                            <td><span>60</span></td>
                                            <td><span>0</span></td>
                                            <td><span>20</span></td>
                                            <td><span>40</span></td>
                                            <td><span>백향구</span></td>
                                            <td><span>2020-01-05</span></td>
                                        </tr>
                                        <tr>
                                            <td><span>P16E0001</span></td>
                                            <td><span>60</span></td>
                                            <td><span>0</span></td>
                                            <td><span>0</span></td>
                                            <td><span>60</span></td>
                                            <td><span>백향구</span></td>
                                            <td><span>2020-01-02</span></td>
                                        </tr>
                                        <tr>
                                            <td><span>P16E0001</span></td>
                                            <td><span>0</span></td>
                                            <td><span>60</span></td>
                                            <td><span>0</span></td>
                                            <td><span>60</span></td>
                                            <td><span>백향구</span></td>
                                            <td><span>2020-01-02</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <button class="btn btn-icon btn-light btn-circle" data-toggle="modal" data-target="#grid" id="modal_open">
                                            <span data-feather="plus"></span>
                                        </button>
                                        <button class="btn btn-icon btn-light btn-circle" onclick="DeleteIncome()">
                                            <span data-feather="trash-2"></span>
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <div class="row" style="justify-content: center;">
                                            <div id="pageNum" style="text-align:center; margin: 2% 0 0 0;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- modal code -->
    <!-- 첨부파일 -->
    <div class="modal-basic modal fade show pop1" id="gen-attach" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">도입자원관리 > 첨부파일</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-0">
                        <span>제목</span>
                        <input type="text" class="form-control form-control-lg">
                    </div>
                    <div class="form-group mb-0">
                        <textarea style="resize:none;"></textarea>
                    </div>
                    <div>
                        <div class="atbd-upload">
                            <div class="atbd-upload__button">
                                <a href="javascript:void(0)" class="btn btn-lg btn-outline-lighten btn-upload"
                                   onclick="$('#upload').click()"> <span data-feather="upload"></span>Click to Upload</a>
                                <input type="file" name="upload-3" class="upload-one" id="upload">
                            </div>
                            <div class="atbd-upload__file">
                                <ul>
                                    <li>
                                        <a href="#" class="file-name"><i class="las la-paperclip"></i> <span
                                            class="name-text">xxx.png<span></span></span></a>
                                        <a href="#" class="btn-delete"><i class="la la-trash"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary btn-sm">저장</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 일반 데이터 등록 -->
    <div class="modal-basic modal fade show pop2" id="grid" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">도입자원관리 > 기본 정보</h6>
                    시교명 ID : <span></span>
                </div>
                <div class="modal-body">
                    <div class="tab-pane fade show active" id="control2" role="tabpanel" aria-labelledby="control1-tab">
                        <div class="tab-slide-content">
                            <div class="atbd-tab tab-horizontal">
                                <div class="top_box">
                                    <ul class="nav nav-tabs vertical-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab-horizontal-0-tab" data-toggle="tab"
                                               href="#tab-horizontal-0" role="tab" aria-controls="tab-horizontal-0"
                                               aria-selected="true">기본 정보</a>
                                        </li>
                                    </ul>
                                </div>
                                <form action="insertIncome" id="insertForm" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" id="income_list" name="income_list">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab-horizontal-0" role="tabpanel"
                                             aria-labelledby="tab-horizontal-0-tab">
                                            <div class="content_title clearfix">
                                                <ul>
                                                    <li>형질</li>
                                                    <li>조사값</li>
                                                </ul>
                                            </div>
                                            <div class="content_1 clearfix">
                                                <ul>
                                                    <li>
                                                        <div class="title">작물</div>
                                                        <div class="input_text"><input type="text" name="income_name"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">도입번호(ID)</div>
                                                        <div class="input_text"><input type="text" name="income_code"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">품종명</div>
                                                        <div class="input_text"><input type="text" name="income_kind"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">구분</div>
                                                        <div class="input_text"><input type="text" name="income_division"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">도입처</div>
                                                        <div class="input_text"><input type="text" name="income_place"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">도입국가</div>
                                                        <div class="input_text"><input type="text" name="income_country"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">도입자</div>
                                                        <div class="input_text"><input type="text" name="income_person"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">도입연월일</div>
                                                        <div class="input_text"><input type="date" name="income_date"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">현 종자량</div>
                                                        <div class="input_text"><input type="text" name="income_num"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">타입</div>
                                                        <div class="input_text"><input type="text" name="income_type"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">주요 특성</div>
                                                        <div class="input_text"><input type="text" name="income_trait"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">비고</div>
                                                        <div class="input_text"><input type="text" name="income_comment"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="insertBtn()" data-dismiss="modal">저장</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 일반 데이터 수정 -->
    <div class="modal-basic modal fade show pop2" id="update-grid" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">도입자원관리 > 기본 정보</h6>
                    시교명 ID : <span></span>
                </div>
                <div class="modal-body">
                    <div class="tab-pane fade show active" id="control1" role="tabpanel" aria-labelledby="control1-tab">
                        <div class="tab-slide-content">
                            <div class="atbd-tab tab-horizontal">
                                <div class="top_box">
                                    <ul class="nav nav-tabs vertical-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab-horizontal-1-tab" data-toggle="tab"
                                               href="#tab-horizontal-0" role="tab" aria-controls="tab-horizontal-0"
                                               aria-selected="true">기본 정보</a>
                                        </li>
                                    </ul>
                                </div>
                                <form action="updateIncome" id="updateForm" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" id="update_list" name="update_list">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab-horizontal-1" role="tabpanel"
                                             aria-labelledby="tab-horizontal-0-tab">
                                            <div class="content_title clearfix">
                                                <ul>
                                                    <li>형질</li>
                                                    <li>조사값</li>
                                                </ul>
                                            </div>
                                            <div class="content_1 clearfix">
                                                <ul>
                                                    <li>
                                                        <div class="title">작물</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_name" readonly></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">도입번호(ID)</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_code"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">품종명</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_kind"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">구분</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_division"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">도입처</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_place"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">도입국가</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_country"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">도입자</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_person"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">도입연월일</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_date"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">현 종자량</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_num"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">타입</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_type"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">주요 특성</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_trait"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">비고</div>
                                                        <div class="input_text"><input type="text" class="test" name="income_comment"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary btn-sm" id="updateBtn" onclick="UpdateBtn()" data-dismiss="modal">저장</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 데이터 등록 모달창 -->
    <div class="modal-basic modal fade show pop5" id="data_upload" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">도입자원관리 > 데이터 등록</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control form-control-lg" placeholder="Click to Upload">
                        <input type="file" id="excelFile" onchange="excelExport(event)" style="display: none">
                        <button onclick="filesFunction()">불러오기</button>
                        <input type="file" name="" id="file_data_upload" style="display: none;">
                    </div>
                    <div>
                        <form action="excelIncome" id="excelForm" method="POST" enctype="multipart/form-data">
                            <input type="hidden" id="excel_list" name="excel_list">
                            <div class="atbd-upload">
                                <table id="excel_data">
                                    <thead>
                                    <th><span class="title">작물</span></th>
                                    <th><span class="title">도입번호(ID)</span></th>
                                    <th><span class="title">품종명</span></th>
                                    <th><span class="title">구분</span></th>
                                    <th><span class="title">도입처</span></th>
                                    <th><span class="title">도입국가</span></th>
                                    <th><span class="title">도입자</span></th>
                                    <th><span class="title">도입연월일</span></th>
                                    <th><span class="title">현 종자량</span></th>
                                    <th><span class="title">타입</span></th>
                                    <th><span class="title">주요 특성</span></th>
                                    <th><span class="title">비고</span></th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="dataToggle('#data_upload', '#data_upload2');">취소</button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="InsertExcel()">등록</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 데이터 목록 창 -->
    <div class="modal-basic modal fade show pop7" id="data_upload2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">도입자원관리 > 데이터 등록</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-0">
                        <button onclick="dataToggle('#data_upload2', '#data_upload');">데이터 등록</button>
                        <button>등록서식 다운로드</button>
                    </div>
                    <div>
                        <div class="atbd-upload">
                            <table>
                                <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>등록일</th>
                                    <th>데이터수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>2021-08-15</td>
                                    <td>185</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2021-08-15</td>
                                    <td>185</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <div class="col-4">
                        <div class="row" style="justify-content: center;">
                            <div id="pageNum1" style="text-align:center; margin: 2% 0 0 0;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal end -->
</main>

<!-- 공통 하단 -->
<th:block th:include="/../fragments/footer.html"></th:block>
<!-- 공통 js -->
<th:block th:include="/../fragments/commonjs.html"></th:block>

<script src="../assets/vendor_assets/js/script.js"></script> <!-- 왼쪽상단에 버튼 클릭시 class 추가 스크립트 -->

<script type="text/javascript">
    function dataToggle(one, two) {
        $(one).modal("hide");

        setTimeout(function () {
            $(two).modal("show");
        }, 5);
    }

    let topBox = document.getElementsByClassName("top_box")[0];
    let [nav, prev, next] = topBox.children;
    let navLi = nav.children; // pop top list
    let navN = 0; //선택된 변수
    let navMove = 0;

    let content = document.getElementsByClassName("tab-content")[0];
    let contentLi = content.children;

    navLi[navN].classList.add("active");

    for (let i = 0; i < navLi.length; i++) {
        navLi[i].idx = i;

        navLi[i].addEventListener("click", function (e) {
            navN = e.currentTarget.idx;

            moveFunction(navN);
        });

    }

    /*    let list = navLi.length;
        next.addEventListener("click", function (e) {
            (navN < list - 1) ? navN += 1 : navN = list - 1;
            moveFunction(navN);
        });

        prev.addEventListener("click", function (e) {
            (navN > 0) ? navN -= 1 : navN = 0;
            moveFunction(navN);
        });*/

    function moveFunction(f) {

        for (let k = 0; k < navLi.length; k++) {
            navLi[k].classList.remove("active");
            contentLi[k].classList.remove("active");
        }
        let navW = navLi[f].offsetWidth;
        navMove = navW * f;


        let a = topBox.offsetWidth;
        let b = nav.offsetWidth;
        let c = b - a;
        let d = c + 40 + "px";

        if (navMove > c) {
            nav.style.marginLeft = "-" + d;
        } else {
            nav.style.marginLeft = "-" + navMove + "px";
        }

        navLi[f].classList.add("active");
        contentLi[f].classList.add("active");
        contentLi[f].classList.add("show");
    }

    /* 엑셀 업로드 버튼 */
    function filesFunction() {
        let filesBtn = document.getElementById("excelFile");
        var eventList = document.createEvent("MouseEvent");

        eventList.initEvent("click");
        filesBtn.dispatchEvent(eventList);
    }

    /* 엑셀 코드 */
    function handleExcelDataAll(sheet) {
        handleExcelDataHtml(sheet); // html 형태
    }

    /* Html 형태로 출력 */
    function handleExcelDataHtml(sheet) {
        $("#displayExcelHtml").html(XLSX.utils.sheet_to_html(sheet));
    }

    function excelExport(event) {
        excelExportCommon(event, handleExcelDataAll);
    }

    function excelExportCommon(event, callback) {
        var input = event.target;
        var reader = new FileReader();

        reader.onload = function () {
            var fileData = reader.result;
            var wb = XLSX.read(fileData, {type: 'binary'});
            var sheetNameList = wb.SheetNames; // 시트 이름 목록 가져오기
            var thirdSheetName = sheetNameList[2]; // 세번째 시트명
            var thirdSheet = wb.Sheets[thirdSheetName]; // 세번째 시트
            callback(thirdSheet);

            delete thirdSheet.A1;
            delete thirdSheet.A2;
            var rowdata = XLSX.utils.sheet_to_json(thirdSheet);

            var keys = Object.values(rowdata[0]);

            var html = "";

            console.log(rowdata);

            // table 생성
            for (var i = 0; i < rowdata.length; i++) {
                if (i === 0) {
                    html += "<thead class='text-center'>";
                    html += "<tr>";

                    $.each(rowdata[0], function (idx, value) {
                        html += "<th><span class='excel-title'>" + value + "</span></th>";
                    })

                    html += "</tr>";
                    html += "</thead>";
                } else if (i !== 0) {
                    html += "<tbody class='text-center'>";
                    html += "<tr>";

                    var tmp = Object.keys(rowdata[0]);
                    var j = 0;

                    $.each(rowdata[i], function (idx, value) {
                        // 공백처리
                        if (idx == tmp[j]) {
                            html += "<td class='excel'><span>" + value + "</span></td>";
                            j++;
                        } else {
                            var idx_str = idx.replace(/[^0-9]/g, '');
                            var tmp_str = tmp[j].replace(/[^0-9]/g, '');

                            var gap = idx_str - tmp_str;

                            while (gap > 0) {
                                gap--;
                                html += "<td><span> </span></td>";
                            }

                            html += "<td><span>" + value + "</span></td>";

                            j = idx_str;
                            j++;
                        }
                    });

                    html += "</tr>";
                    html += "</tbody>";
                }
            }

            var excel = [];

            for (var k = 1; k < rowdata.length; k++) {
                var chk = Object.values(rowdata[k]);

                for (var n = 0; n < keys.length; n++) {
                    if (chk[n] == undefined) {
                        excel[n] = {key: keys[n], value: " "};
                    } else if ((typeof chk[n]) === "number"){
                        excel[n] = {key: keys[n], value: chk[n]};
                    } else {
                        excel[n] = {key: keys[n], value: "" + chk[n]};
                    }
                }
                const obj = {...excel};

                // console.log(obj);
                rowdata[k] = obj;
            }

            $("#excel_data").empty();
            $("#excel_data").append(html);

            var jsonObj = tableToJson(document.getElementById("excel_data"));

            console.log(jsonObj);

            $("#excel_list").val(JSON.stringify(jsonObj));
        };

        reader.readAsBinaryString(input.files[0]);
    }

    function InsertExcel() {
        var data = [];

        $("#excel_data").each(function (index, item) {
            const key = $(this).attr('id');
            var value = $(this).val();

            var arr = {key: key, value: value};

            data.push(arr);
        });

        $("#excelForm").submit();
    }

    // table to json
    function tableToJson(table) {
        var data = [];

        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerText;
        }

        for (var i = 1; i < table.rows.length; i++) {
            var tableRow = table.rows[i];

            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {
                rowData[headers[j]] = tableRow.cells[j].innerText;
            }

            data.push(rowData);
        }

        return data;
    }

    /* form data to json */
    jQuery.fn.serializeObject = function () {
        var obj = null;
        try {
            if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                var arr = this.serializeArray();
                if (arr) {
                    obj = {};
                    jQuery.each(arr, function () {
                        obj[this.name] = this.value;
                    });
                }
            }
        } catch (e) {
            alert(e.message);
        } finally {
        }

        return obj;
    };

    // 작물 선택 후 목록 입력
    var searchSelectBox = document.querySelector('#CropSelect');

    const thisBtn = document.querySelector('#modal_open');
    thisBtn.dataset.target = '';

    function onChangeSelect() {
        var thisBtn = document.querySelector('#modal_open');
        var value = searchSelectBox.value;
        if (value === 'none') {
            thisBtn.dataset.target = '';
        } else {
            thisBtn.dataset.target = '#grid';
        }
    }

    // onChangeSelect();
    searchSelectBox.addEventListener('change', onChangeSelect);
    $("#modal_open").click(function () {
        console.log($("#CropSelect option:selected").val());

        if ($("#CropSelect option:selected").val() === 'none') {
            alert("작물을 선택해주세요")
            $(this).data('dismiss');
        } else {
            $("input[name=income_name]").val($("#CropSelect option:selected").text());
        }
    });

    // 도입 자원 추가
    function insertBtn() {
        var data = [];

        $("input[name=detail]").each(function (index, item) {
            const key = $(this).attr('id');
            var value = $(this).val();

            var arr = {key: key, value: value};

            data.push(arr);
        });

        $("#income_list").val(JSON.stringify(data));

        $("#insertForm").submit();
    }

    // DB 데이터 출력
    $(document).ready(function () {
        SearchIncome(1);
    });

    $("#CropSelect").change(function () {
        SearchIncome(1);
    })

    var emptyEls;
    var resultData = [];

    function SearchIncome(e) {
        var income_name = $("#CropSelect").val();
        var data = {"income_name": income_name, "page_num": e};

        $.ajax(
            {
                url: 'searchIncome',
                method: 'POST',
                dataType: 'json',
                data: data,
                success: function (result) {
                    var income_list = $("#income_list");
                    var add_list = "";

                    resultData = result.income;

                    var pageNum = $("#pageNum");
                    var page_add = "";

                    for (var i = 0; i < result.income.length; i++) {
                        add_list += '<tr>';
                        add_list += '<td><input type="checkbox" name="RowCheck" value="' + result.income[i].income_id + '"></td>';
                        add_list += '<td><button class="btn btn-light btn-default btn-squared btn-transparent-light" data-toggle="modal" data-target="#gen-attach"><i class="bi bi-file-earmark-arrow-down"></i></button></td>';
                        add_list += '<td class="status" style="cursor: pointer;" onclick="emptyFunction(' + result.income[i].income_id + ', this);">EMPTY</td>';
                        add_list += '<td>' + result.income[i].income_name + '</td>';
                        add_list += '<td>' + result.income[i].income_code + '</td>';
                        add_list += '<td>' + result.income[i].income_kind + '</td>';
                        add_list += '<td>' + result.income[i].income_division + '</td>';
                        add_list += '<td>' + result.income[i].income_place + '</td>';
                        add_list += '<td>' + result.income[i].income_country + '</td>';
                        add_list += '<td>' + result.income[i].income_person + '</td>';
                        add_list += '<td>' + result.income[i].income_date + '</td>';
                        add_list += '<td>' + result.income[i].income_num + '</td>';
                        add_list += '<td>' + result.income[i].income_type + '</td>';
                        add_list += '<td>' + result.income[i].income_trait + '</td>';
                        add_list += '<td>' + result.income[i].income_comment + '</td>';
                        add_list += '</tr>';
                    }

                    if (result.page_num == 1) {
                        page_add += '<button class="atbd-pagination__link pagination-control"><span class="la la-angle-left"></span></button>';
                    } else {
                        page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchIncome(' + (result.page_num - 1) + ')"><span class="la la-angle-left"></span></button>';
                    }

                    for (var i = 0; i < result.end_page; i++) {
                        if (result.page_num == (i + 1)) {
                            page_add += '<button class="atbd-pagination__link active" onclick="SearchIncome(' + (i + 1) + ')">' + (i + 1) + '</button>';
                        } else {
                            page_add += '<button class="atbd-pagination__link" onclick="SearchIncome(' + (i + 1) + ')">' + (i + 1) + '</button>';
                        }
                    }

                    if (result.page_num == result.end_page) {
                        page_add += '<button class="atbd-pagination__link pagination-control"><span class="la la-angle-right"></span></button>';
                    } else {
                        page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchIncome(' + (result.page_num + 1) + ')"><span class="la la-angle-right"></span></button>';
                    }

                    income_list.empty();
                    income_list.append(add_list);

                    pageNum.empty();
                    pageNum.append(page_add);

                    emptyEls = document.querySelectorAll('#income_list tr .status');
                    emptyEls = Array.prototype.slice.call(emptyEls);
                }
            });
    }

    // 도입자원 삭제
    function DeleteIncome() {
        var total_id = [];

        $("input:checkbox[name=RowCheck]:checked").each(function () {
            var income_id = $(this).val();

            total_id.push(income_id);
        });

        var data = {'income_id': total_id};

        if (confirm("삭제하시겠습니까?") == true) {
            $.ajax(
                {
                    url: 'deleteIncome',
                    method: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (result) {

                        console.log(result)

                        if (result == 0) {
                            alert("삭제에 실패하였습니다.");
                            location.reload();
                        } else {
                            location.reload();
                        }
                    }
                });
        } else {

        }
    }

    // 정렬
    $(document).ready(function () {
        $('#table1 th').each(function (column) {
            $(this).click(function () {
                if ($(this).is('.asc')) {
                    $(this).removeClass('asc');
                    $(this).addClass('desc');
                    sortdir = -1;
                } else {
                    $(this).addClass('asc');
                    $(this).removeClass('desc');
                    sortdir = 1;
                }
                $(this).siblings().removeClass('asc');
                $(this).siblings().removeClass('desc');

                var rec1 = $('#table1').find('tbody>tr').get();

                rec1.sort(function (a, b) {
                    var val1 = +($(a).children('td').eq(column).text());
                    var val2 = +($(b).children('td').eq(column).text());

                    if (isNaN(val1) && isNaN(val2)) {
                        val1 = $(a).children('td').eq(column).text();
                        val2 = $(b).children('td').eq(column).text();

                        return (val1 < val2) ? -sortdir : (val1 > val2) ? sortdir : 0;
                    } else {
                        return (val1 < val2) ? -sortdir : (val1 > val2) ? sortdir : 0;
                    }
                });

                $.each(rec1, function (index, row) {
                    $('#table1 tbody').append(row);
                });
            });
        });
    });

    var emptyElsIndex = 0;

    function emptyFunction(id, e) {

        let target = e;

        let index = emptyEls.indexOf(target);

        emptyElsIndex = index;

        let values = $(e).parent().children();

        $("#update-grid").modal("show");

        var input_N = 0;

        for (let i = 3; i < values.length; i++) {
            var inner_text = values.eq(i).text();

            $("#update-grid input[type='text']").eq(i - 3).val(inner_text);
        }

        $("#update-grid input[type='text']").each(function (f, e) {
            input_N += $(e).length;
        });

        $("#updateBtn").removeAttr("onclick");
        $("#updateBtn").attr("onclick", "UpdateBtn('id');");
    }

    // 일반 데이터 수정
    function UpdateBtn() {
        const data = [];

        const income_id = {key: 'income_id', value: "" + resultData[emptyElsIndex].income_id};

        data.push(income_id);

        $("input[class=test]").each(function (index, item) {
            const key = $(this).attr('name');
            var value = $(this).val();

            var arr = {key: key, value: value};

            data.push(arr);
        });


        $("#update_list").val(JSON.stringify(data));


        $("#updateForm").submit();
    }
</script>

</body>

</html>