<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- 공통 헤더 -->
    <th:block th:include="@{/fragments/header.html}"></th:block>
    <script src="../assets/vendor_assets/js/script.js"></script> <!-- 왼쪽상단에 버튼 클릭시 class 추가 스크립트 -->
    <style>
        table {
            border-top: 1px solid grey;
            border-collapse: collapse;
        }

        th, td {
            border-bottom: 2px solid #E5E9F2;
            padding: 10px;
            text-align: center;
            font-weight: initial;
        }

        th, tbody tr {
            background-color: white;
        }

        .main-content .card-extra .justify-content-end .atbd-button-list {
            width: 100%;
            margin: 0;
        }

        .main-content .nav-tabs .nav-link.active, .main-content .nav-tabs .nav-item.show .nav-link, .modal-basic .atbd-tab .nav-link {
            color: #D9D9D9;
            font-size: 16px;
            font-weight: 700;
        }

        .main-content .atbd-tab .nav-link:after {
            background-color: #f4f5f7;
        }

        .modal-basic .atbd-tab .nav-tabs .nav-item.active a {
            border-radius: 21px;
            background-color: #EDF6F1;
            color: #217566;
            font-size: 16px;
            font-weight: 700;
        }

        .modal-basic .atbd-tab .nav-tabs .nav-item a::after,
        .modal-basic .atbd-tab .nav-tabs:after {
            display: none;
        }

        .content_title {
            width: 100%;
            background-color: #F7F7F8;
            padding: 10px 0;
        }

        .content_title li {
            float: left;
            width: 50%;
            text-align: center;
        }

        .content_1 {
            padding: 20px;
            max-height: 500px;
            overflow: auto;
            line-height: 2;
        }

        .content_1 .title {
            float: left;
        }

        .content_1 .input_text {
            float: right;
            width: 30%;
        }

        .content_1 .input_text input[type="text"] {
            width: 180%;
        }

        .content_1 li {
            display: inline-block;
            width: 80%;
            color: #222222;
            font-size: 16px;
        }

        .pop1 .modal-dialog textarea {
            width: 100%;
            height: 300px;
            border-radius: 5px;
            border: 1px solid #D9D9D9;
        }

        .pop1 .modal-dialog .btn-upload {
            width: 100%;
        }

        .pop1 .atbd-upload__file {
            display: none;
        }

        .pop2 .modal-header {
            display: -webkit-box;
        }

        .main-content .pop1 .form-group input[type=text] {
            flex: 0 0 85%;
        }

        .main-content .pop1 .form-group span {
            flex: 0 0 10%;
        }

        .main-content .pop1 a.btn-outline-lighten {
            display: block;
            text-align: left;
            color: #B2B2B2;
        }

        #gen-messege {
            display: table;
        }

        #gen-messege .modal-dialog {
            display: table-cell;
            vertical-align: middle;
        }

        #gen-messege .modal-dialog .modal-content {
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
            padding: 40px 0;
        }

        #gen-messege .modal-dialog .modal-content .messege {
            padding-bottom: 30px;
        }

        .main-content .modal-body {
            width: 100%;
        }

        .main-content .modal-body ul li {
            display: inline-block;
            width: calc((100% - 50px) / 2);
            margin-left: 40px;
            overflow: hidden;
        }

        .main-content .modal-body ul li:first-child {
            margin-left: 0;
        }

        .main-content .modal-body ul li img {
            width: 100%;
        }

        #google_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            height: 200px;
        }

        #google_container li {
            flex: 1;
            height: 100%;
        }

        @media (min-width: 576px) {
            .modal-dialog {
                max-width: 1014px;
                margin: 1.75rem auto;
            }

            .pop1 .modal-dialog {
                max-width: 750px;
            }

            .pop4 .modal-dialog {
                max-width: 750px;
                margin: 0 auto;
            }
        }

        .btn.btn-light.btn-transparent-light{
            display:block;
            width:100%;
            background-color: rgba(244, 245, 247, 1);
        }

        .main-content .contents .container-fluid{
            max-width:100%;
            padding: 50px;
        }

        .bg-white > .row{
            padding-top: 50px;
        }

    </style>
</head>

<body class="layout-light top-menu overlayScroll">
<div class="mobile-search"></div>

<div class="mobile-author-actions"></div>

<!-- 공통 topbar -->
<th:block th:include="@{/fragments/topbar.html}"></th:block>

<main class="main-content" style="background-color: #FCFCFC;">

    <div class="contents" style="background-color: #FFFFFF;">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-30">
                    <div class="card">
                        <div class="card-extra mt-20 mr-20">
                            <div class="breadcrumb-main" style="float: left;">
                                <h4 class="text-capitalize breadcrumb-title">시교 자원 관리</h4>
                            </div>
                            <!-- 버튼 등록하는 곳 -->
                            <div class="action-btn d-flex justify-content-end">
                                <div class="atbd-button-list d-flex flex-wrap">
                                    <div class="btn-group atbd-button-group btn-group-normal my-2" role="group">
                                        <button type="button" class="btn btn-xs btn-outline-light">시교관리</button>
                                        <!-- 2021-10-19 AlpaDesign btn-active클래스를 추가했습니다 -->
                                        <button type="button" class="btn btn-xs btn-outline-light">시교수출관리</button>
                                    </div>

                                    <form action="" name="searchForm" class="d-flex align-items-center add-contact__form my-sm-0 my-2">
                                        <select class="form-control form-control-lg mt-10 mb-10 mr-10" style="width: 250px;">
                                            <option value="none">작물 선택</option>
                                            <option value="pepper">고추</option>
                                            <option value="green_onion">대파</option>
                                            <option value="melon">멜론</option>
                                            <option value="radish">무</option>
                                            <option value="napa_cabbage">배추</option>
                                            <option value="water_melon">수박</option>
                                            <option value="cabbage">양배추</option>
                                            <option value="onion">양파</option>
                                            <option value="korean_melon">참외</option>
                                            <option value="tomato">토마토</option>
                                        </select>
                                    </form>
                                    <input type="file" id="excelFile" onchange="excelExport(event)" style="display: none">
                                    <button class="btn btn-lg btn-primary data_btn1" onclick="filesFunction()"><img
                                        src="../assets/vendor_assets/img/icon1.svg" alt=""></button>
                                    <button class="btn btn-lg btn-primary data_btn2"><img src="../assets/vendor_assets/img/icon2.png" alt=""></button>
                                    <button class="btn btn-lg btn-primary data_btn2"><img src="../assets/vendor_assets/img/icon3.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="bg-white">
                                <div class="table-responsive">
                                    <table class="table" id="table1">
                                        <thead class="text-center">
                                        <tr>
                                            <th></th>
                                            <th><span class="title">첨부파일</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                           alt="첨부파일"></th>
                                            <th><span class="title">특성상태</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="특성상태"></th>
                                            <th><span class="title">작물</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                         alt="작물"></th>
                                            <th><span class="title">시교명(ID)</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="시교명"></th>
                                            <th><span class="title">목표 지역</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="목표 지역"></th>
                                            <th><span class="title">구분</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                         alt="구분"></th>
                                            <th><span class="title">교배번호</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="교배번호"></th>
                                            <th><span class="title">종자번호(ID)</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="종자번호"></th>
                                            <th><span class="title">현 종자량(g)</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="현 종자량"></th>
                                            <th><span class="title">기내 발아율(%)</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="기내 발아율"></th>
                                            <th><span class="title">기내 순도율(%)</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="기내 순도율"></th>
                                            <th><span class=" title">비고</span><i></i><img src="../assets/vendor_assets/img/title_icon.png"
                                                                                          alt="비고"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center" id="sample_list">
                                        <!--<tr>
                                            <td><input type="checkbox"></td>
                                            <td><span>19PC4155</span></td>
                                            <td><span>P20C0080</span></td>
                                            <td><span>0</span></td>
                                            <td><span>40</span></td>
                                            <td><span>0</span></td>
                                            <td><span>40</span></td>
                                            <td><span>백향구</span></td>
                                            <td><span>이호석</span></td>
                                            <td><span>2019-11-11</span></td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                    <table class="table" id="table2">
                                        <thead class="text-center">
                                        <tr>
                                            <th></th>
                                            <th><span class="title">시교명</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="시교명"></th>
                                            <th><span class="title">종자번호(ID)</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="종자번호(ID)"></th>
                                            <th><span class="title">종자 보유량</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="종자 보유량"></th>
                                            <th><span class="title">입고량</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="입고량"></th>
                                            <th><span class="title">출고량</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="출고량"></th>
                                            <th><span class="title">재고량</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="재고량"></th>
                                            <th><span class="title">담당자</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="담당자"></th>
                                            <th><span class="title">인수자</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="인수자"></th>
                                            <th><span class="title">날짜</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="날짜"></th>
                                            <th><span class="title">시교종료일자</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="시교종료일자"></th>
                                            <th><span class="title">지역구분</span><i></i><img
                                                src="../assets/vendor_assets/img/title_icon.png"
                                                alt="지역구분"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center">
                                        <tr>
                                            <td><input type="checkbox" name="chkBox"></td>
                                            <td><span>19PC0233</span></td>
                                            <td><span>P20C0080</span></td>
                                            <td><span>0</span></td>
                                            <td><span>40</span></td>
                                            <td><span>0</span></td>
                                            <td><span>40</span></td>
                                            <td><span>백향구</span></td>
                                            <td><span>이호석</span></td>
                                            <td><span>2019-01-01</span></td>
                                            <td><span>-</span></td>
                                            <td><span>해외</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <button class="btn btn-icon btn-light btn-circle" data-toggle="modal" data-target="#grid">
                                            <span data-feather="plus"></span>
                                        </button>
                                        <button class="btn btn-icon btn-light btn-circle" onclick="delRow()">
                                            <span data-feather="trash-2"></span>
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <div class="d-flex justify-content-center mt-30">
                                            <nav class="atbd-page">
                                                <ul class="atbd-pagination d-flex">
                                                    <li class="atbd-pagination__item">
                                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                            class="la la-angle-left"></span></a>
                                                        <a href="#" class="atbd-pagination__link"><span class="page-number">1</span></a>
                                                        <a href="#" class="atbd-pagination__link active"><span class="page-number">2</span></a>
                                                        <a href="#" class="atbd-pagination__link"><span class="page-number">3</span></a>
                                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                            class="page-number">...</span></a>
                                                        <a href="#" class="atbd-pagination__link"><span class="page-number">12</span></a>
                                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                            class="la la-angle-right"></span></a>
                                                        <a href="#" class="atbd-pagination__option">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-lg btn-primary bottom_btn" data-toggle="modal" data-target="#recent">
                                            <span>시교 진행 현황</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- modal code -->
    <div class="modal-basic modal fade show pop1" id="gen-attach" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">시교자원관리 > 첨부파일</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-0">
                        <span>제목</span>
                        <input type="text" class="form-control form-control-lg">
                    </div>
                    <div class="form-group mb-0">
                        <textarea style="resize:none;"></textarea>
                    </div>
                    <div>
                        <div class="atbd-upload">
                            <div class="atbd-upload__button">
                                <a href="javascript:void(0)" class="btn btn-lg btn-outline-lighten btn-upload"
                                   onclick="$('#upload').click()"> <span data-feather="upload"></span>Click to Upload</a>
                                <input type="file" name="upload-3" class="upload-one" id="upload">
                            </div>
                            <div class="atbd-upload__file">
                                <ul>
                                    <li>
                                        <a href="#" class="file-name"><i class="las la-paperclip"></i> <span
                                            class="name-text">xxx.png<span></span></span></a>
                                        <a href="#" class="btn-delete"><i class="la la-trash"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary btn-sm">저장</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-basic modal fade show pop2" id="grid" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">시교자원관리 > 기본 정보</h6>
                    시교명 ID : <span></span>
                </div>
                <div class="modal-body">
                    <div class="tab-pane fade show active" id="control1" role="tabpanel" aria-labelledby="control1-tab">
                        <div class="tab-slide-content">
                            <div class="atbd-tab tab-horizontal">
                                <div class="top_box">
                                    <ul class="nav nav-tabs vertical-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab-horizontal-0-tab" data-toggle="tab"
                                               href="#tab-horizontal-0" role="tab" aria-controls="tab-horizontal-0"
                                               aria-selected="true">기본 정보</a>
                                        </li>
                                    </ul>
                                </div>
                                <form action="insertSample" id="insertForm" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" id="origin_list" name="origin_list">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab-horizontal-0" role="tabpanel"
                                             aria-labelledby="tab-horizontal-0-tab">
                                            <div class="content_title clearfix">
                                                <ul>
                                                    <li>형질</li>
                                                    <li>조사값</li>
                                                </ul>
                                            </div>
                                            <div class="content_1 clearfix">
                                                <ul>
                                                    <li>
                                                        <div class="title">작물</div>
                                                        <div class="input_text"><input type="text" name="sample_name"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">시교명(ID)</div>
                                                        <div class="input_text"><input type="text" name="sample_code"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">목표 지역</div>
                                                        <div class="input_text"><input type="text" name="sample_country"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">구분</div>
                                                        <div class="input_text"><input type="text" name="sample_type"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">교배번호</div>
                                                        <div class="input_text"><input type="text" name="sample_mate"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">종자번호(ID)</div>
                                                        <div class="input_text"><input type="text" name="sample_seed"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">현 종자량(g)</div>
                                                        <div class="input_text"><input type="text" name="sample_amount"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">기내 발아율(%)</div>
                                                        <div class="input_text"><input type="text" name="sample_sprout"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">기내 순도율(%)</div>
                                                        <div class="input_text"><input type="text" name="sample_purity"></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">비고</div>
                                                        <div class="input_text"><input type="text" name="sample_comment"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="insertBtn()" data-dismiss="modal">저장</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 확인버튼 마크업입니다 display는 테이블이오니 display:block이 아닌 table로 해주셔야 자동 높이를 가집니다 -->
    <!-- <div class="modal-basic modal fade show pop4" id="gen-messege" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="messege">
                	<span>최소 1개 이상의 품종이 선택되어야 합니다.</span>
                </div>
                <div class="messege_button">
                	<button class="messege_ok btn-primary btn-sm">확인</button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="modal-basic modal fade show" id="recent" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">시교 진행 현황</h6>
                </div>
                <div class="modal-body">
                    <ul id="google_container">
                        <li id="google_map1"><img src="../assets/vendor_assets/img/map1.png" alt="map1"></li>
                        <li id="google_map2"><img src="../assets/vendor_assets/img/map2.png" alt="map2"></li>
                    </ul>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal end -->
</main>

<!-- 공통 하단 -->
<th:block th:include="@{/fragments/footer.html}"></th:block>
<!-- 공통 js -->
<th:block th:include="@{/fragments/commonjs.html}"></th:block>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn0n_LEGxgJuCfTU8aKvuwrcmw0iZjfmY&callback=initMap&region=kr"></script>
<script type="text/javascript">
    let topBox = document.getElementsByClassName("top_box")[0];
    let [nav, prev, next] = topBox.children;
    let navLi = nav.children; // pop top list
    let navN = 0; //선택된 변수
    let navMove = 0;

    let content = document.getElementsByClassName("tab-content")[0];
    let contentLi = content.children;

    navLi[navN].classList.add("active");

    for (let i = 0; i < navLi.length; i++) {
        navLi[i].idx = i;

        navLi[i].addEventListener("click", function (e) {
            navN = e.currentTarget.idx;

            moveFunction(navN);
        });

    }

    /*    let list = navLi.length;
        next.addEventListener("click", function (e) {
            (navN < list - 1) ? navN += 1 : navN = list - 1;
            moveFunction(navN);
        });

        prev.addEventListener("click", function (e) {
            (navN > 0) ? navN -= 1 : navN = 0;
            moveFunction(navN);
        });*/

    function moveFunction(f) {

        for (let k = 0; k < navLi.length; k++) {
            navLi[k].classList.remove("active");
            contentLi[k].classList.remove("active");
        }
        let navW = navLi[f].offsetWidth;
        navMove = navW * f;


        let a = topBox.offsetWidth;
        let b = nav.offsetWidth;
        let c = b - a;
        let d = c + 40 + "px";

        if (navMove > c) {
            nav.style.marginLeft = "-" + d;
        } else {
            nav.style.marginLeft = "-" + navMove + "px";
        }

        navLi[f].classList.add("active");
        contentLi[f].classList.add("active");
        contentLi[f].classList.add("show");
    }

    /* 엑셀 업로드 버튼 */
    function filesFunction() {
        let filesBtn = document.getElementById("excelFile");
        var eventList = document.createEvent("MouseEvent");

        eventList.initEvent("click");
        filesBtn.dispatchEvent(eventList);
    }

    /* 엑셀 코드 */
    function handleExcelDataAll(sheet) {
        handleExcelDataHtml(sheet); // html 형태
    }

    /* Html 형태로 출력 */
    function handleExcelDataHtml(sheet) {
        $("#displayExcelHtml").html(XLSX.utils.sheet_to_html(sheet));
    }

    function excelExport(event) {
        excelExportCommon(event, handleExcelDataAll);
    }

    function excelExportCommon(event, callback) {
        var input = event.target;
        var reader = new FileReader();

        reader.onload = function () {
            var fileData = reader.result;
            var wb = XLSX.read(fileData, {type: 'binary'});
            var sheetNameList = wb.SheetNames; // 시트 이름 목록 가져오기
            var fourthSheetName = sheetNameList[3]; // 네번째 시트명
            var fourthSheet = wb.Sheets[fourthSheetName]; // 네번째 시트
            callback(fourthSheet);

            var rowdata = XLSX.utils.sheet_to_json(wb.Sheets[fourthSheetName]);
            console.log(rowdata.length)

            var html = "";

            for (var i = 1; i < rowdata.length; i++) {
                if (i === 1) {
                    html += "<thead class='text-center'>";
                    html += "<tr>";
                    html += "<th></th>";
                    html += "<th><span className='title'>첨부파일</span><i></i><img src='../assets/vendor_assets/img/title_icon.png' alt='첨부파일'></th>";
                    html += "<th><span className='title'>특성상태</span><i></i><img src='../assets/vendor_assets/img/title_icon.png' alt='특성상태'>";

                    $.each(rowdata[1], function (idx, value) {
                        html += "<th><span class='title'>" + value + "</span><i></i><img src='../assets/vendor_assets/img/title_icon.png'></th>";
                    })

                    html += "</tr>";
                    html += "</thead>";
                } else if (i !== 1) {
                    html += "<tbody class='text-center'>";
                    html += "<tr>";
                    html += "<td><input type='checkbox' name='chkBox'></td>";
                    html += "<td><button class='btn btn-light btn-default btn-squared btn-transparent-light' data-toggle='modal' data-target='#gen-attach'><span data-feather='file-plus'></span></button></td>";
                    html += "<td><span></span></td>";

                    $.each(rowdata[i], function (idx, value) {
                        html += "<td><span>" + value + "</span></td>";
                    })

                    html += "</tr>";
                    html += "</tbody>";
                }
            }

            $("#table1").empty(html);
            $("#table1").append(html);
        };

        reader.readAsBinaryString(input.files[0]);
    }

    /* row 생성 */
/*    function makeArray() {
        var gibon = $("#gibon").serializeObject();
        console.log(gibon);

        var html = "<tbody class='text-center'>";
        html += "<tr>";
        html += "<td><input type='checkbox' name='chkBox'></td>";
        html += "<td><button class='btn btn-light btn-default btn-squared btn-transparent-light' data-toggle='modal' data-target='#gen-attach'><span data-feather='file-plus'></span></button></td>";
        html += "<td><span></span></td>";

        $.each(gibon, function (idx, value) {
            if (value === '') {
                html += "<td><span>-</span></td>";
            } else {
                html += "<td><span>" + value + "</span></td>";
            }
        })

        html += "</tr>";
        html += "</tbody>";

        $("#table1").append(html);
    }*/

    /* form data to json */
    jQuery.fn.serializeObject = function () {
        var obj = null;
        try {
            if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                var arr = this.serializeArray();
                if (arr) {
                    obj = {};
                    jQuery.each(arr, function () {
                        obj[this.name] = this.value;
                    });
                }
            }
        } catch (e) {
            alert(e.message);
        } finally {
        }

        return obj;
    };

    /* row 삭제 */
    function delRow() {
        var checkRows = $("[name = 'chkBox']:checked");

        for (var i = checkRows.length - 1; i > -1; i--) {
            checkRows.eq(i).closest('tr').remove();
        }
    }

    function insertBtn() {
        var data = [];
        $("input[name=detail]").each(function (index, item) {
            const key = $(this).attr('id');
            var value = $(this).val();

            var arr = {key: key, value: value};

            data.push(arr);
        });

        $("#origin_list").val(JSON.stringify(data));

        $("#insertForm").submit();
    }

    $(document).ready(function () {
        SearchSample(1);
    });

    function SearchSample(e) {
        var data = {"page_num": e};

        $.ajax(
            {
                url: 'searchSample',
                method: 'POST',
                dataType: 'json',
                data: data,
                success: function (result) {
                    console.log(result);
                    var sample_list = $("#sample_list");
                    var add_list = "";

                    var pageNum = $("#pageNum");
                    var page_add = "";

                    for (var i = 0; i < result.sample.length; i++) {
                        add_list += '<tr>';
                        add_list += '<td><input type="checkbox"></td>';
                        add_list += '<td><button class="btn btn-light btn-default btn-squared btn-transparent-light" data-toggle="modal" data-target="#gen-attach"><i class="bi bi-file-earmark-arrow-down"></i></button></td>';
                        add_list += '<td>EMPTY</td>';
                        add_list += '<td>' + result.sample[i].sample_name + '</td>';
                        add_list += '<td>' + result.sample[i].sample_code + '</td>';
                        add_list += '<td>' + result.sample[i].sample_country + '</td>';
                        add_list += '<td>' + result.sample[i].sample_type + '</td>';
                        add_list += '<td>' + result.sample[i].sample_mate + '</td>';
                        add_list += '<td>' + result.sample[i].sample_seed + '</td>';
                        add_list += '<td>' + result.sample[i].sample_amount + '</td>';
                        add_list += '<td>' + result.sample[i].sample_sprout + '</td>';
                        add_list += '<td>' + result.sample[i].sample_purity + '</td>';
                        add_list += '<td>' + result.sample[i].sample_comment + '</td>';
                        add_list += '</tr>';
                    }

                    if (result.page_num == 1) {
                        page_add += '<button class="atbd-pagination__link pagination-control"><span class="la la-angle-left"></span></button>';
                    } else {
                        page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchReport(' + (result.page_num - 1) + ')"><span class="la la-angle-left"></span></button>';
                    }

                    for (var i = 0; i < result.end_page; i++) {
                        if (result.page_num == (i + 1)) {
                            page_add += '<button class="atbd-pagination__link active" onclick="SearchReport(' + (i + 1) + ')">' + (i + 1) + '</button>';
                        } else {
                            page_add += '<button class="atbd-pagination__link" onclick="SearchReport(' + (i + 1) + ')">' + (i + 1) + '</button>';
                        }
                    }

                    if (result.page_num == result.end_page) {
                        page_add += '<button class="atbd-pagination__link pagination-control"><span class="la la-angle-right"></span></button>';
                    } else {
                        page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchReport(' + (result.page_num + 1) + ')"><span class="la la-angle-right"></span></button>';
                    }

                    sample_list.empty();
                    sample_list.append(add_list);

                    pageNum.empty();
                    pageNum.append(page_add);
                }
            });
    }

    // 구글 맵 관련 
    const mapContainer = document.querySelector('#google_map1');
    const mapContainer2 = document.querySelector('#google_map2');
    const koreaOptions = {
        zoom: 6,
        center: {lat: 36.613766432253634, lng: 127.84942123102657},
        panControl: false,
        zoomControl: false,
        scaleControl: false,
        mapTypeControl: false,
        streetViewControl: false,
        fullscreenControl: false
        // mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    const globalOptions = {
        ...koreaOptions,
        zoom: 0,
        center: {lat: 37.5642135, lng: 127.0016985}
    }

    const map = new google.maps.Map(mapContainer, koreaOptions);
    const map2 = new google.maps.Map(mapContainer2, globalOptions);
    //국내는 부산, 청주, 익산, 남해, 밀양, 전주, 제주, 강릉, 함양, 부여, 성주
    // 해외는 인도, 중국, 영국, 미국, 파키스탄, 일본, 네덜란드
    const globalCityDatas = [
        {lat: 22.22267143294292, lng: 79.13524723236651},
        {lat: 33.25173879082619, lng: 103.92501603483987},
        {lat: 38.8498311865453, lng: -102.37095928101904},
        {lat: 29.48237176159851, lng: 69.69045458640039},
        {lat: 36.332952986760326, lng: 138.65686172199221},
        {lat: 52.529665164041596, lng: 4.8670640984935165},
    ];

    const koreaCityDatas = [
        {lat: 35.206238513124546, lng: 129.08038118015855},
        {lat: 36.6424341, lng: 127.4890319},
        {lat: 35.9482858, lng: 126.9575991},
        {lat: 36.6424341, lng: 127.4890319},
        {lat: 35.832732140930425, lng: 127.12353144605112},
        {lat: 35.492278267228684, lng: 128.74756762815156},
        {lat: 37.7626809049733, lng: 128.89751079481087},
        {lat: 33.46962794437109, lng: 126.53995587901136},
        {lat: 35.62315997859795, lng: 127.64287731141832},
        {lat: 36.28673472687304, lng: 126.75708382107744},
        {lat: 35.932930167597355, lng: 128.26808927858545},
        // {lat: 35.906974893937814, lng: 137.73401019446183 }, 
    ]

    const image = {
        url: "http://maps.google.com/mapfiles/ms/micons/msmarker.shadow.png",
        // This marker is 20 pixels wide by 32 pixels high.
        size: new google.maps.Size(10, 20),
        // The origin for this image is (0, 0).
        origin: new google.maps.Point(0, 0),
        // The anchor for this image is the base of the flagpole at (0, 32).
        anchor: new google.maps.Point(0, 32),
    };
    koreaCityDatas.forEach((value, i) => {
        console.log(value)
        new google.maps.Marker({
            position: value,
            map: map,
            // icon: image,
            label: ""
        })
    })
    globalCityDatas.forEach((value, i) => {
        console.log(value)
        new google.maps.Marker({
            position: value,
            map: map2,
            // icon: image,
            label: ""
        })
    })


</script>
</body>

</html>