<!doctype html>
<html lang="en" dir="ltr"
	xmlns:th="http://www.thymeleaf.org">
	
<head>

<!-- 공통 헤더 -->
<th:block th:include="@{/fragments/header.html}"></th:block>

<style>
  table {
    border-top: 1px solid grey;
    
    border-collapse: collapse;
  }
  th, td {
  	border-bottom: 2px solid #E5E9F2;
    padding: 10px;
    text-align: center;
    font-weight: initial;
  }
  th {
    background-color: white;
  }
  tbody tr:nth-child(2n) {
    background-color: white;
  }
  tbody tr:nth-child(2n+1) {
    background-color: #fafef5;
  }
</style>

</head>

<body class="layout-light top-menu overlayScroll">
	<div class="mobile-search"></div>
	
	<div class="mobile-author-actions"></div>
	
	<!-- 공통 topbar -->
	<th:block th:include="@{/fragments/topbar.html}"></th:block>
	
	<main class="main-content" style="background-color: #fafef5;">
	
		<div class="contents" style="background-color: #fafef5;">
    
		    <div class="container-fluid">
		    	<div class="row">
			        <div class="col-lg-12">
			        	<div class="breadcrumb-main" style="float: left;">
			        		<h4 class="text-capitalize breadcrumb-title">사용자</h4>
			        		<span class="ml-20 mt-1">기초정보-사용자</span>
			        	</div>
			        </div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-12 mb-30">
		        		<div class="card">
		       				<div class="card-extra mt-20 mr-20">
		       					<div class="d-flex justify-content-start" style="float: left;">
		       						<span class="ml-30 mt-20 mr-10">show</span>
		    						<select class="form-control form-control-lg mt-10 mb-10 mr-10" name="page-number">
		                          		<option value="10">10</option>
		                          		<option value="20">20</option>
		                          		<option value="30">30</option>
		                      		</select>
		                      		<span class="ml-1 mt-20">entries</span>
		       					</div>
		       					<!-- 버튼 등록하는 곳 -->
		       					<div class="action-btn d-flex justify-content-end">
				      				<div class="atbd-button-list d-flex flex-wrap">
				      					<form action="/data/division" name="searchForm" class="d-flex align-items-center add-contact__form my-sm-0 my-2">
				                            <select class="form-control form-control-lg mt-10 mb-10 mr-10" style="width: 250px;">
				                                <option>전체</option>
				                                <option>아이디</option>
				                                <option>이름</option>
				                            </select>
				                            <div class="input-container icon-right position-relative mr-10">
			                                    <a href="javascript:searchForm.submit();" class="input-icon icon-right"><span data-feather="search"></span></a>
			                                    <input type="text" class="form-control form-control-lg" placeholder="Search">
			                                </div>
				      					</form>
				      				</div>
			      				</div>
		       				</div>
		        			<div class="card-body">
		        				<div class="bg-white">
		                        	<div class="table-responsive">
		                            	<table class="table">
		                            		<thead class="text-center">
		                            			<tr>
		                            				<th></th>
		                            				<th>사용자 ID</th>
		                            				<th>성명</th>
		                            				<th>소속실</th>
		                            				<th>직종</th>
		                            				<th>직급</th>
		                            				<th>권한</th>
		                            				<th>사용여부</th>
		                            				<th>등록일</th>
		                            			</tr>
		                            		</thead>
		                            		<tbody class="text-center">
		                            			<tr>
		                            				<td><input type="checkbox"></td>
		                            				<td><span>ID1</span></td>
		                            				<td><span>김길중</span></td>
		                            				<td><span>-</span></td>
		                            				<td><span>연구직</span></td>
		                            				<td><span>농업연구사</span></td>
		                            				<td><span>연구직</span></td>
		                            				<td><span>Y</span></td>
		                            				<td><span>2021-06-21</span></td>
		                            			</tr>
		                            			<tr>
		                            				<td><input type="checkbox"></td>
		                            				<td><span>ID2</span></td>
		                            				<td><span>김길중</span></td>
		                            				<td><span>-</span></td>
		                            				<td><span>연구직</span></td>
		                            				<td><span>농업연구사</span></td>
		                            				<td><span>최고관리자</span></td>
		                            				<td><span>Y</span></td>
		                            				<td><span>2021-06-21</span></td>
		                            			</tr>
		                            		</tbody>
		                            	</table>
		                        	</div>
		                        	<div class="row">
		                        		<div class="col-4">
			                        	
				                        </div>
				                        <div class="col-4">
				                        	<div class="d-flex justify-content-center mt-30">
				                        		<nav class="atbd-page">
				                        			<ul class="atbd-pagination d-flex">
				                        				<li class="atbd-pagination__item">
				                                            <a href="#" class="atbd-pagination__link pagination-control"><span class="la la-angle-left"></span></a>
				                                            <a href="#" class="atbd-pagination__link"><span class="page-number">1</span></a>
				                                            <a href="#" class="atbd-pagination__link active"><span class="page-number">2</span></a>
				                                            <a href="#" class="atbd-pagination__link"><span class="page-number">3</span></a>
				                                            <a href="#" class="atbd-pagination__link pagination-control"><span class="page-number">...</span></a>
				                                            <a href="#" class="atbd-pagination__link"><span class="page-number">12</span></a>
				                                            <a href="#" class="atbd-pagination__link pagination-control"><span class="la la-angle-right"></span></a>
				                                            <a href="#" class="atbd-pagination__option">
				                                            </a>
				                                        </li>
				                        			</ul>
				                        		</nav>
				                        	</div>
				                        </div>
				                        <div class="col-4">
				                        	<div class="action-btn d-flex justify-content-end mt-30">
			                                    <a href="/data/user/insert" class="btn btn-lg btn-primary">등록</a>
			                                </div>
				                        </div>
		                        	</div>
		                        </div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		    </div>
    
    	</div>
    
    </main>
    
    <!-- 공통 하단 -->
    <th:block th:include="@{/fragments/footer.html}"></th:block>
    <!-- 공통 js -->
    <th:block th:include="@{/fragments/commonjs.html}"></th:block>

<script type="text/javascript">
	
</script>

</body>

</html>