<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<footer class="footer-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-copyright">
                    <p>COPYRIGHT @ 2015 THE KIBAN CO., Ltd. All Rights Reserved.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-menu text-right">
                    <div class="dropdown dropdown-click">
                        <div class="btn-group dropleft">
                            <button class="btn btn-outline-lighten btn-sm">Button</button>

                            <button type="button" class="btn btn-outline-lighten btn-sm dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather=chevron-down></span>
                            </button>

                            <div class="dropdown-default dropdown-menu">
                                <a class="dropdown-item" href="#">Item One</a>
                                <a class="dropdown-item" href="#">Item Two</a>
                                <a class="dropdown-item" href="#">Item Three</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ends: .Footer Menu -->
            </div>
        </div>
    </div>
</footer>

<div id="overlayer">
    <span class="loader-overlay">
        <div class="atbd-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
        </div>
    </span>
</div>
<div class="overlay-dark-sidebar"></div>
<div class="customizer-overlay"></div>

</html>