<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
		
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Kiban</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}">

    <!-- inject:css-->

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/bootstrap/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/daterangepicker.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/fontawesome.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/footable.standalone.min.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/fullcalendar@5.2.0.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/jquery-jvectormap-2.0.5.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/jquery.mCustomScrollbar.min.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/leaflet.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/line-awesome.min.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/magnific-popup.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/MarkerCluster.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/MarkerCluster.Default.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/select2.min.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/slick.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/star-rating-svg.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/trumbowyg.min.css}">

    <link rel="stylesheet" th:href="@{/assets/vendor_assets/css/wickedpicker.min.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- favicon 이미지 확인되면 변경해주기 -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon.png}">
</html>