<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user = ${#authentication.principal}">
<style>
	input[type="text"]:focus{
		border:1px solid #222;
	}
	.main-content .form-group{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom:10px;
		align-items: center;
  	}
  	.main-content .form-group span {
  		flex: 0 0 30%;
  		color: #222222;
  	}
  	.main-content .form-group input[type=text]{
  		flex: 0 0 70%;
  	}
</style>
	<header class="header-top">
        <nav class="navbar navbar-light">
            <div class="navbar-left">
                <a class="navbar-brand" href="/home"><img src="../assets/vendor_assets/img/logo.png" alt="logo"></a>
                <form action="/" class="search-form">
                    <span data-feather="search"></span>
                    <input class="form-control mr-sm-2 box-shadow-none" type="search" placeholder="Search..." aria-label="Search">
                </form>
                <div class="top-menu">
                    <div class="strikingDash-top-menu position-relative">
                        <ul>
                            <li>
                                <a href="/home" id="home">
                                	<span data-feather="home" class="nav-icon"></span>
		                            <span class="menu-text">홈</span>
                                </a>
                            </li>
                            <li class="has-subMenu">
                                <a class="">
                                	<span data-feather="sun" class="nav-icon"></span>
		                            <span class="menu-text">유전자원관리</span>
                                </a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="/genome/breed">품종 관리</a>
                                    </li>
                                    <li>
                                        <a href="/genome/basic">원종 관리</a>
                                    </li>
                                    <li>
                                        <a href="/genome/income">도입자원 관리</a>
                                    </li>
                                    <li>
                                        <a href="/genome/sample">시교 자원 관리</a>
                                    </li>
                                    <li>
                                        <a href="">통합 분석</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-subMenu">
                                <a class="">
                                	<span data-feather="calendar" class="nav-icon"></span>
		                            <span class="menu-text">Digital Lab</span>
                                </a>
                                <ul class="atbd-menu menu-top menu-vertical subMenu">
                                    <li class="atbd-menu__item">
                                        <a class="atbd-menu__link active" href="#">
                                            <span class="atbd-menu__text">MABC Tools</span>
                                        </a>
                                        <ul class="atbd-submenu">
                                            <li class="atbd-menu__item">
                                                <ul class="atbd-submenu-item">
                                                    <li><a href="">Design tool</a></li>
                                                    <li><a href="/lab/data_manage">Data 관리</a></li>
                                                    <li><a href="">Analysis tool</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="atbd-menu__item">
                                        <a class="atbd-menu__link active" href="#">
                                            <span class="atbd-menu__text">Genome browser</span>
                                        </a>
                                        <ul class="atbd-submenu">
                                            <li class="atbd-menu__item">
                                                <ul class="atbd-submenu-item">
                                                    <li><a href="">Design tool</a></li>
                                                    <li><a href="">Data 관리</a></li>
                                                    <li><a href="">Analysis tool</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">GWAS tool</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="" class="">
                                	<span data-feather="list" class="nav-icon"></span>
		                            <span class="menu-text">Digital Field</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar-right">
                <ul class="navbar-right__menu">
                    <li class="nav-search d-none">
                        <a href="" class="search-toggle">
                            <i class="la la-search"></i>
                            <i class="la la-times"></i>
                        </a>
                        <form action="/" class="search-form-topMenu">
                            <span class="search-icon" data-feather="search"></span>
                            <input class="form-control mr-sm-2 box-shadow-none" type="search" placeholder="Search..." aria-label="Search">
                        </form>
                    </li>
                    <li class="nav-notification">
                        <div class="dropdown-custom">
                            <a href="javascript:" class="nav-item-toggle">
                                <span data-feather="bell"></span></a>
                            <div class="dropdown-wrapper">
                                <h2 class="dropdown-wrapper__title">Notifications <span class="badge-circle badge-warning ml-1">4</span></h2>
                                <ul>
                                    <li class="nav-notification__single nav-notification__single--unread d-flex flex-wrap">
                                        <div class="nav-notification__type nav-notification__type--primary">
                                            <span data-feather="inbox"></span>
                                        </div>
                                        <div class="nav-notification__details">
                                            <p>
                                                <a href="" class="subject stretched-link text-truncate" style="max-width: 180px;">James</a>
                                                <span>sent you a message</span>
                                            </p>
                                            <p>
                                                <span class="time-posted">5 hours ago</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="nav-notification__single nav-notification__single--unread d-flex flex-wrap">
                                        <div class="nav-notification__type nav-notification__type--secondary">
                                            <span data-feather="upload"></span>
                                        </div>
                                        <div class="nav-notification__details">
                                            <p>
                                                <a href="" class="subject stretched-link text-truncate" style="max-width: 180px;">James</a>
                                                <span>sent you a message</span>
                                            </p>
                                            <p>
                                                <span class="time-posted">5 hours ago</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="nav-notification__single nav-notification__single--unread d-flex flex-wrap">
                                        <div class="nav-notification__type nav-notification__type--success">
                                            <span data-feather="log-in"></span>
                                        </div>
                                        <div class="nav-notification__details">
                                            <p>
                                                <a href="" class="subject stretched-link text-truncate" style="max-width: 180px;">James</a>
                                                <span>sent you a message</span>
                                            </p>
                                            <p>
                                                <span class="time-posted">5 hours ago</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="nav-notification__single nav-notification__single d-flex flex-wrap">
                                        <div class="nav-notification__type nav-notification__type--info">
                                            <span data-feather="at-sign"></span>
                                        </div>
                                        <div class="nav-notification__details">
                                            <p>
                                                <a href="" class="subject stretched-link text-truncate" style="max-width: 180px;">James</a>
                                                <span>sent you a message</span>
                                            </p>
                                            <p>
                                                <span class="time-posted">5 hours ago</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="nav-notification__single nav-notification__single d-flex flex-wrap">
                                        <div class="nav-notification__type nav-notification__type--danger">
                                            <span data-feather="heart"></span>
                                        </div>
                                        <div class="nav-notification__details">
                                            <p>
                                                <a href="" class="subject stretched-link text-truncate" style="max-width: 180px;">James</a>
                                                <span>sent you a message</span>
                                            </p>
                                            <p>
                                                <span class="time-posted">5 hours ago</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <a href="" class="dropdown-wrapper__more">See all incoming activity</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-author">
                        <div class="dropdown-custom">
                            <a href="javascript:" class="nav-item-toggle"><img src="/img/author-nav.jpg" alt="" class="rounded-circle"></a>
                            <div class="dropdown-wrapper">
                                <div class="nav-author__info">
                                    <div class="author-img">
                                        <img src="/img/author-nav.jpg" alt="" class="rounded-circle">
                                    </div>
                                    <div>
                                        <h6 th:text="${user.user_name}"></h6>
                                        <span>UI Designer</span>
                                    </div>
                                </div>
                                <div class="nav-author__options">
                                    <ul>
                                        <li>
                                            <a href=""><span data-feather="user"></span> Profile</a>
                                        </li>
                                        <li>
                                            <a href=""><span data-feather="settings"></span> Settings</a>
                                        </li>
                                        <li>
                                            <a href=""><span data-feather="key"></span> Billing</a>
                                        </li>
                                        <li>
                                            <a href=""><span data-feather="users"></span> Activity</a>
                                        </li>
                                        <li>
                                            <a href=""><span data-feather="bell"></span> Help</a>
                                        </li>
                                    </ul>
                                    <a href="/logout" class="nav-author__signout"><span data-feather="log-out"></span> Sign Out</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="navbar-right__mobileAction d-md-none">
                    <a href="" class="btn-search">
                        <span data-feather="search"></span>
                        <span data-feather="x"></span></a>
                    <a href="" class="btn-author-action">
                        <span data-feather="more-vertical"></span></a>
                </div>
            </div>
        </nav>
    </header>
</html>