<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 공통 헤더 -->
    <th:block th:include="@{/fragments/header.html}"></th:block>
</head>
<body class="layout-light top-menu overlayScroll">
<div class="mobile-search"></div>
<div class="mobile-author-actions"></div>
<main class="main-content">
    <div class="contents" style="background-color: #FFFFFF;">
        <div class="container-fluid" style="background-color: #FFFFFF;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="signUP-admin">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-xl-4 col-lg-5 col-md-5 p-0">
                                    <div class="signUP-admin-left signIn-admin-left position-relative">
                                        <div class="signUP-overlay">
                                            <img class="svg signupTop" th:src="@{/img/svg/signuptop.svg}" alt="img"/>
                                            <img class="svg signupBottom" th:src="@{/img/svg/signupbottom.svg}" alt="img"/>
                                        </div><!-- End: .signUP-overlay  -->
                                        <div class="signUP-admin-left__content">
                                            <div
                                                class="text-capitalize mb-md-30 mb-15 d-flex align-items-center justify-content-md-start justify-content-center">
                                                <a class="wh-36 bg-primary text-white radius-md mr-10 content-center" href="/home">a</a>
                                                <span class="text-dark">admin</span>
                                            </div>
                                            <h1>Bootstrap 4 React Web Application</h1>
                                        </div><!-- End: .signUP-admin-left__content  -->
                                        <div class="signUP-admin-left__img">
                                            <img class="img-fluid svg" th:src="@{/img/svg/signupIllustration.svg}" alt="img"/>
                                        </div><!-- End: .signUP-admin-left__img  -->
                                    </div><!-- End: .signUP-admin-left  -->
                                </div><!-- End: .col-xl-4  -->
                                <div class="col-xl-8 col-lg-7 col-md-7 col-sm-8">
                                    <div class="signUp-admin-right signIn-admin-right  p-md-40 p-10">
                                        <div class="row justify-content-center">
                                            <div class="col-xl-7 col-lg-8 col-md-12">
                                                <div class="edit-profile mt-md-25 mt-0">
                                                    <div class="card border-0">
                                                        <div class="card-header border-0  pb-md-15 pb-10 pt-md-20 pt-10 ">
                                                            <div class="edit-profile__title">
                                                                <h6>THE KIBAN <span class="color-primary">LOGIN</span></h6>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="edit-profile__body">
                                                                <div class="form-group mb-20">
                                                                    <label for="username">아이디</label>
                                                                    <input type="text" class="form-control" id="username" placeholder="Username">
                                                                </div>
                                                                <div class="form-group mb-15">
                                                                    <label for="password-field">비밀번호</label>
                                                                    <div class="position-relative">
                                                                        <input id="password-field" type="password" class="form-control"
                                                                               name="password" value="secret">
                                                                        <div
                                                                            class="fa fa-fw fa-eye-slash text-light fs-16 field-icon toggle-password2"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="signUp-condition signIn-condition">
                                                                    <div class="checkbox-theme-default custom-checkbox ">
                                                                        <input class="checkbox" type="checkbox" id="check-1">
                                                                        <label for="check-1">
                                                                            <span class="checkbox-text">로그인 유지</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="button-group d-flex pt-1 justify-content-md-start justify-content-center">
                                                                    <button
                                                                        class="btn btn-primary btn-default btn-squared mr-15 text-capitalize lh-normal px-50 py-15 signIn-createBtn ">
                                                                        로그인
                                                                    </button>
                                                                </div>
                                                                <p class="social-connector text-center mb-sm-25 mb-15  mt-sm-30 mt-20"><span>Or</span>
                                                                </p>
                                                                <div
                                                                    class="button-group d-flex align-items-center justify-content-md-start justify-content-center">
                                                                    <ul class="signUp-socialBtn">
                                                                        <li>
                                                                            <button class="btn text-dark px-30"> 유전 자원 관리
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button class="btn text-dark px-30"> Digital Lab
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button class="btn text-dark px-30"> Digital Field
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 공통 js -->
<th:block th:include="@{/fragments/commonjs.html}"></th:block>
<script type="text/javascript">

</script>
</body>
</html>