<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- 공통 헤더 -->
    <th:block th:include="/../fragments/header.html"></th:block>

    <style>
        table {
            border-top: 1px solid grey;
            border-collapse: collapse;
        }

        th, td {
            border-bottom: 2px solid #E5E9F2;
            padding: 10px;
            text-align: center;
            font-weight: initial;
        }

        th, tbody tr {
            background-color: white;
        }
		.top-menu .main-content{
			background-color:#FCFCFC;
		}
		.top-menu .main-content .contents{
			background-color:#FCFCFC;
		}
		.atbd-box{
			display: inherit;
		    width: 100%;
		    justify-content: center;
		}
		.atbd-upload{
			flex: 0 0 50%;
		}
		.atbd-box a {
			width:100%;
		}
		.atbd-box button{
			background-color:#217566;
			border: 1px solid #217566;
			margin-left: 10px;
		}
		.top-menu .main-content .card{
			padding-bottom: 100px;
		}
		.top-menu .main-content .btn-primary{
			background-color:#EDF6F1;
			color:#217566;
		}
		.top-menu .main-content .btn-primary img{
			margin-right: 10px;
		}
		.top-menu .main-content .align-items-center{
			justify-content: center;
		}
		select{
			margin-left: 25px;
		}
		.top-menu .main-content .form-group{
			margin-left: 30px;
   		    padding-bottom: 0;
		}
		.main-content .form-group input[type=text]{
			margin-left: 25px;
		}
		@media (min-width: 576px){
			.top-menu .main-content .modal-dialog {
			    max-width: 850px;
			    margin: 1.75rem auto;
			}
		}
		
		/* 텍스트에 링크형태 */
		#genoType_example_file {
            color: mediumblue;
            text-decoration: underline;
            cursor: pointer;
        }
		
    </style>

</head>

<body class="layout-light top-menu overlayScroll">
<div class="mobile-search"></div>

<div class="mobile-author-actions"></div>

<!-- 공통 topbar -->
<th:block th:include="/../fragments/topbar.html"></th:block>

<main class="main-content">

    <div class="contents">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                	<div class="breadcrumb-main">
			        		<h4 class="text-capitalize breadcrumb-title">유전형 data 보관</h4>
			        </div>
                </div>
            </div>
            <div class="row">
            	<div class="card">
            		<div class="card-body">
	        			<div class="bg-white">
	                        <div class="card" id="cardPlus" style="width:1100px" >	<!-- width를 지정해야 다 보인다. 오른쪽으로 쏠려있으니 그것도 방법을 찾아보자. 일단은 container-fluid가 중앙정렬된게 원인으로 보임 -->
		                        <div class='card-extra mt-10 mb-10 mr-20 plus_btn_submit1'>
		                            <button type='button' id="cancelRow" onclick="cancelRow()">취소</button>
		                            <button type='button' id="saveRow" onclick="saveRow()">저장</button>
		                        </div>
		                        <div class="card-body" style="padding-top: 0;">
		                            <div class="bg-white">
		                                <div id="mabc_grid"><!-- 여기에 그리드 출력 --></div>
		                                <div class="row">
		                                    <div class="col-4">
		                                        <button class="btn btn-icon btn-light btn-circle" data-toggle="modal" data-target="#insert_file">
		                                            <span>추가</span>
		                                        </button>
		                                        <button class="btn btn-icon btn-light btn-circle" onclick="delete_row()">
		                                            <span>삭제</span>
		                                        </button>
		                                        <button class="btn btn-icon btn-light btn-circle" onclick="run()">
		                                        	<span>병합</span>
		                                        </button>
		                                    </div>
		                                    <div class="col-4">
		                                        <div class="row" style="justify-content: center;">
		                                            <div id="pageNum" style="text-align:center; margin: 2% 0 0 0;"></div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>		                        
	                        </div>
	                    </div>
            		</div>
            	</div>
            </div>
        </div>
    </div>

    <!-- modal code -->
<!-- 첨부파일 등록창 (breed.html에서 가져옴) -->
    <div class="modal-basic modal fade show pop1" id="insert_file" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white " id="file_modal">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">엑셀파일 업로드</h6>
                    <span class="breed_title"></span>
                </div>
                <form action="insertMABCFile" id="insertFile" method="POST" enctype="multipart/form-data">
	                <div class="modal-body">
		                <select class="form-control form-control-lg mt-10 mb-10 mr-10" style="width: 250px;" name="crop" id="crop">
                                            <option value="고추">고추</option>
                                            <option value="대파">대파</option>
                                            <option value="멜론">멜론</option>
                                            <option value="무">무</option>
                                            <option value="배추">배추</option>
                                            <option value="수박">수박</option>
                                            <option value="양배추">양배추</option>
                                            <option value="양파">양파</option>
                                            <option value="참외">참외</option>
                                            <option value="토마토">토마토</option>
	                              </select>
		                <table class="table">
		               		<tbody>
			               		
		               			<tr>
		                			<td><label class="reg" for="mabc_category">분류</label></td>
		                			<td><input type="text" name="mabc_category"></td>
		                		</tr>
		                		<tr>
		                			<td><label class="reg" for="regist_person">등록자</label></td>
		                			<td><input type="text" name="regist_person"></td>
		                		</tr>
		                		<tr>
		                			<td><label class="reg" for="regist_date">등록일</label></td>
		                			<td><input type="text" name="regist_date"></td>
		                		</tr>
		                		<tr>
		                			<td><label class="reg" for="detail">상세내용</label></td>
		                			<td><input type="text" name="detail"></td>
		                		</tr>
		                	</tbody>
			            </table>
			            <div>
                            <div class="atbd-upload">
                            	<div class="atbd-upload__button">
                                	<a id="genoType_example_file" href="/common/r/example/genotype_data.xlsx" download>예제파일다운</a></td>
                                </div>
                                <div class="atbd-upload__button">
                                    <input type="file" id="upload_file" name="file">
                                </div>
                            </div>
                        </div>
	                </div>
	                <div class="modal-footer" style="border: none">
	                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
	                    <button type="button" class="btn btn-primary btn-sm" onclick="insert_qtl_information()" style="background-color:#217566; color:#fff">등록</button>
	                </div>
                </form>
            </div>
        </div>
    </div>


    
    <!-- 첨부파일 등록창 (breed.html에서 가져옴) -->
    <div class="modal-basic modal fade show pop1" id="insert_file" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white " id="file_modal">
                <div class="modal-header" style="border: none">
                    <h6 class="modal-title">엑셀파일 업로드</h6>
                    <span class="breed_title"></span>
                </div>
                <form action="insertMABCFile" id="insertFile" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group mb-0">
                           <span>작목</span>
                           <select class="form-control form-control-lg mt-10 mb-10 mr-10" style="width: 250px;" name="crop">
                                <option value="고추">고추</option>
                                <option value="대파">대파</option>
                                <option value="멜론">멜론</option>
                                <option value="무">무</option>
                                <option value="배추">배추</option>
                                <option value="수박">수박</option>
                                <option value="양배추">양배추</option>
                                <option value="양파">양파</option>
                                <option value="참외">참외</option>
                                <option value="토마토">토마토</option>
                            </select>
                        </div>
                        <div class="form-group mb-0">
                            <span>코멘트</span>
                            <input type="text" id="comment" class="form-control form-control-lg mt-10 mb-10 mr-10" placeholder="텍스트를 입력하세요" name="mabc_comment">
                        </div>
                        <div>
                            <div class="atbd-upload">
                                <div class="atbd-upload__button">
                                    <input type="file" id="upload_file" name="file">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>	
            </div>
        </div>
    </div>
    
    
    
    <!-- 엑셀출력용 임시박스. 웹페이지에 출력되어선 안됨 -->
    <div id="excel_box" aria-hidden="true"></div>
</main>

<!-- 공통 하단 -->
<th:block th:include="/../fragments/footer.html"></th:block>
<!-- 공통 js -->
<th:block th:include="/../fragments/commonjs.html"></th:block>

<script type="text/javascript">
	// 페이지 시작
	$(document).ready(function(){
				SearchPlan();

				// 취소, 저장버튼 숨겨놓기(현재 + 기능이 작동하지않아 취소,저장도 정상기능을 못함. 추후 삭제)
				$(".plus_btn_submit1").css("display", "none");			
		});
	
	// 페이지 당 데이터 개수 변경
	$("#limit").change(function () {
        	mabc_grid.destroy();

        	SearchPlan();
        });
	
	// grid
    var mabc_grid = null;
    let update_mabc_data = [];
	
	function SearchPlan() {
		
		var crop_name = $("#CropSelect").val();
		var limit = $("#limit").val();
		
		
		$.ajax(
	        {
            	url: 'search_mabc_sample',
                method: 'POST',
                dataType: 'json',
                data: data,
                success: function (result) {
                	
	                	console.log(result);
	                	
						let dataArr = [];
						
						let rowArr = {};
						
						//console.log(result.search_uploads[0]);
						//console.log(result.search_mabc_sample[0]);
						//console.log(result.search_mabc_sample[1]);
						
						//eerer
						for(let i=result.search_mabc_sample.length -1 ; i>0 ; i--) {
							//console.log("aaa");
							/*
							rowArr = {
									'mabc_id': result.search_mabc_sample[i].mabc_id,
									'crop': result.search_mabc_sample[i].crop,
									'detail' : result.search_mabc_sample[i].detail,
									'mabc_category': result.search_mabc_sample[i].mabc_category,
									//'file': '<a href="upload/' + result.search_uploads[j].uploads_file + '" download><i class="bi bi-file-earmark-arrow-down-fill"></i></a>',
									'file': '<i class="bi bi-file-earmark-arrow-down-fill"></i>',
									'regist_date': result.search_mabc_sample[i].regist_date,
									'regist_person': result.search_mabc_sample[i].regist_person
							};
							*/
							
							for(let j=0 ; j<result.search_uploads.length ; j++) {
								if(result.search_mabc_sample[i].mabc_id == result.search_uploads[j].mabc_id) {
									
									rowArr = {
											'mabc_id': result.search_mabc_sample[i].mabc_id,
											'crop': result.search_mabc_sample[i].crop,
											'detail' : result.search_mabc_sample[i].detail,
											'mabc_category': result.search_mabc_sample[i].mabc_category,
											//'file': '<a href="upload/' + result.search_uploads[j].uploads_file + '" download><i class="bi bi-file-earmark-arrow-down-fill"></i></a>',
											'file': '<a href="upload/' + result.search_uploads[j].uploads_file + '" download=' + result.search_uploads[j].uploads_origin_file + '><i class="bi bi-file-earmark-arrow-down-fill"></i></a>',
											//'file': '<i class="bi bi-file-earmark-arrow-down-fill"></i>',
											'file_name': result.search_uploads[j].uploads_file,
											'file_origin_name':result.search_uploads[j].uploads_origin_file,
											'regist_date': result.search_mabc_sample[i].regist_date,
											'regist_person': result.search_mabc_sample[i].regist_person
									};
									
									//console.log(result.search_uploads[j].uploads_file);
									//console.log(rowArr);
									
								}
							}
							
							dataArr.push(rowArr);
						}
	                	
						mabc_grid = new tui.Grid({
							el: document.getElementById('mabc_grid'),
							scrollX: true,
							scrollY: true,
							data: dataArr,
							rowHeaders: ['checkbox'],
							columns: [
								{
				                    header: 'mabc_id',
				                    name: 'mabc_id',
				                    editor: 'text',
				                    sortable: true,
				                    hidden:true,
				                    width: 180,
				                    filter: {type: 'select', showApplyBtn: true, showClearBtn: true}
				                },
				                {
				                    header: '파일',
				                    name: 'file',
				                    width: 80,
				                },
				               /* {
				                    header: '파일명',
				                    name: 'file_name',
				                    editor: 'text',
				                    hidden: true,
				                    sortable: true,
				                    width: 180,
				                    filter: {type: 'select', showApplyBtn: true, showClearBtn: true}
				                }, */
				                {
				                    header: '파일명',
				                    name: 'file_origin_name',
				                    width: 200,
				                },
				                {
				                    header: '작물',
				                    name: 'crop',
				                    sortable: true,
				                    width: 100,
				                    filter: {type: 'select', showApplyBtn: true, showClearBtn: true}
				                },
				                {
				                    header: '분류',
				                    name: 'mabc_category',
				                    sortable: true,
				                    width: 100,
				                    filter: {type: 'select', showApplyBtn: true, showClearBtn: true}
				                },
				                {
				                    header: '등록자',
				                    name: 'regist_person',
				                    sortable: true,
				                    width: 100,
				                    filter: {type: 'select', showApplyBtn: true, showClearBtn: true}
				                },
				                {
				                    header: '등록일',
				                    name: 'regist_date',
				                    sortable: true,
				                    width: 150,
				                    filter: {type: 'select', showApplyBtn: true, showClearBtn: true}
				                },
				                {
				                    header: '상세내용',
				                    name: 'detail',
				                    width: 230,
				                },
							],
							pageOptions: {
				                useClient: true,
				                perPage: 10
				            }
						});
						
                }
	            	
	        });
		
		
		
		
		
	}
	
	function insert_mabc_sample() {
		let input_mabc_data = [];
		
		input_mabc_data.push({  	'crop' : $("#crop").val(),
									'recurrent_parents' : $("#recurrent_parents").val(),
									'donor_parents' : $("#donor_parents").val(),
									'systematic_id' : $("#systematic_id").val(),
									'systematic_name' : $("#systematic_name").val(),
									'CAPS_CONTIG_7051' : $("#CAPS_CONTIG_7051").val(),
									'CAPS_CONTIG_5625' : $("#CAPS_CONTIG_5625").val(),
									'ANOK_CO908560' : $("#ANOK_CO908560").val(),
									'CAPS_CONTIG_12022' : $("#CAPS_CONTIG_12022").val(),
									'KS13030B11' : $("#KS13030B11").val(),
									'CAPS_CONTIG_11020' : $("#CAPS_CONTIG_11020").val(),
									'CAPS_CONTIG_11112' : $("#CAPS_CONTIG_11112").val(),
									'CAPS_CONTIG_8855' : $("#CAPS_CONTIG_8855").val(),
									'CAPS_CONTIG_10091' : $("#CAPS_CONTIG_10091").val(),
									'KS23001F06' : $("#KS23001F06").val(),
									'CAPS_CONTIG_5050' : $("#CAPS_CONTIG_5050").val(),
									'ANOK_CO907546' : $("#ANOK_CO907546").val(),
									'CAPS_CONTIG_1476' : $("#CAPS_CONTIG_1476").val(),
									'ACRI_DV643211' : $("#ACRI_DV643211").val(),
									'CAPS_CONTIG_4964' : $("#CAPS_CONTIG_4964").val(),
									'CAPS_CONTIG_6936' : $("#CAPS_CONTIG_6936").val(),
									'KS01048D11' : $("#KS01048D11").val(),
									'CAPS_CONTIG_7192' : $("#CAPS_CONTIG_7192").val(),
									'ANOK_CO776394' : $("#ANOK_CO776394").val(),
									'CAPS_CONTIG_9655' : $("#CAPS_CONTIG_9655").val()
		});
		
		console.log("input_mabc_data 입력 확인 : " , input_mabc_data);
		
		
		$.ajax(
			{
				url: 'insert_mabc_sample',
				method: 'POST',
				dataType: 'json',
				data: { "input_mabc_data" : JSON.stringify(input_mabc_data) },
				success: function(result) {
					
					if(result != null) {
						location.reload();									// ajax 성공시 새로고침
					}
					
				},
			}		
		)
	}
	
	var tablechk = 0; 	// samplegrid, outcomegrid 구별용인듯. 일단 안바뀌니까 0으로 설정
	
	function delete_row() {
		let total_mabc_id = [];

        let checked_length = mabc_grid.getCheckedRows().length;

        for (let i = 0; i < checked_length; i++) {
        	total_mabc_id.push(mabc_grid.getCheckedRows()[i].mabc_id)
        }

        if( mabc_grid.getCheckedRows().length >= 1) {
        	
	        if( confirm("삭제하시겠습니까?") == true) {
		        $.ajax(
		       		{
		       			url: 'delete_mabc_sample',
		       			method: 'POST',
		       			dataType: 'json',
		       			data: {'total_mabc_id' : total_mabc_id},
		       			success: function(result)	{
		       				console.log("success");
		       				location.reload();
		       			},
		       			error: function() {
		       				console.log("db연결 실패");
		       			}
		       		});
	        } else {
	        	return false;
	        }
        } else {
        	alert("하나 이상의 체크박스를 체크해주세요.");
        	return false;
        }
	}
	

	
    
	// 첨부파일 등록
	function insert_qtl_information() {
		var file = $("#upload_file");
        

        if (file.val() == "") {
            alert("파일을 선택해주세요.");
            return false;
        } else {
            $("#insertFile").submit();
        }
	}
	

	/*
    // 마커 상세정보
    function mabc_sample_information(sys_id) {
    	$("#mabc_sample_information").modal("show");
    	
    	
    		console.log("sys_id : ", sys_id);
    		
    		$('input[name=mabc_id]').attr('value',result.mabc_information[0].mabc_id);
			$('input[name=mabc_name]').attr('value',result.mabc_information[0].mabc_name);
			$('input[name=mabc_kinds]').attr('value',result.mabc_information[0].mabc_kinds);
			$('input[name=crop]').attr('value',result.mabc_information[0].crop);
			$('input[name=chromosome_number]').attr('value',result.mabc_information[0].chromosome_number);
			$('input[name=location_start]').attr('value',result.mabc_information[0].location_start);
			$('input[name=location_end]').attr('value',result.mabc_information[0].location_end);
			$('input[name=characteristic]').attr('value',result.mabc_information[0].characteristic);
			$('input[name=mabc_reference]').attr('value',result.mabc_information[0].mabc_reference);
    		
    }
	*/
    
    function mabc_excel_download(e) {
    	
    }

	function run() {
		
		/*
	       for(let i = 0 ; i<mabc_grid.getCheckedRows().length; i++) {
	        	if(mabc_grid.getCheckedRows()[0].crop == mabc_grid.getCheckedRows()[i].crop) {
	        		continue;
	        	} else {
	        		alert("작물명이 서로 다릅니다.");
	        		return false;
	        	}
	        }*/
		
		
	        
	        
		for(let i =0 ; i< mabc_grid.getCheckedRows().length ; i++) {
			console.log(mabc_grid.getCheckedRows()[i]);
			if(mabc_grid.getCheckedRows()[0].crop == mabc_grid.getCheckedRows()[i].crop) {
				continue;
			} else {
				alert("작물명이 서로 다릅니다.");
				return false;
			}
		}
		
    	let total_file_name = [];
    	let total_file_origin_name = [];

    	console.log(mabc_grid.getCheckedRows()[0].file_name)
    	
    	let str= "";
    	
    	for(let i=0 ; i<mabc_grid.getCheckedRows().length ; i++) {
			if(i != mabc_grid.getCheckedRows().length -1 ) {
				str +=  mabc_grid.getCheckedRows()[i].file_origin_name + "," + mabc_grid.getCheckedRows()[i].file_name + ",";
			}
			else {
				str +=  mabc_grid.getCheckedRows()[i].file_origin_name + "," + mabc_grid.getCheckedRows()[i].file_name;
				
			}
		}
    	
    	console.log(str);
    	window.open('/geneticMerge/selectType.jsp?selectfiles='+ str , 'selectType', 'top=300, left=600, width=600, height=400, toolbar=no, menubar=no, location=no, status=no, scrollbars=yes, resizable=no');
    	/*
        for (let i = 0; i < mabc_grid.getCheckedRows().length; i++) {
        	total_file_name.push(mabc_grid.getCheckedRows()[i].file_name);
        }
        
        for (let i = 0; i < mabc_grid.getCheckedRows().length; i++) {
	       	total_file_origin_name.push(mabc_grid.getCheckedRows()[i].file_origin_name);
        }
        */
        
        
        
        
        /*
        $.ajax(
                {
                    url: 'MABC_DB',
                    method: 'POST',
                    dataType: 'json',
                    data: {'total_file_name' : total_file_name, 'total_file_origin_name':total_file_origin_name },
                    success: function (str) {
                       	console.log(str);
						window.open('http://112.169.63.197:8883/geneticMerge/selectType.jsp?selectfiles='+ str , 'target', 'top=100, left=1000, width=1200, height=800, toolbar=no, menubar=no, location=no, status=no, scrollbars=yes, resizable=no');

                    }
                });
			*/
       
    }
    
	

		
	
	
</script>

</body>

</html>