<!doctype html>
<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- 공통 헤더 -->
    <th:block th:include="@{/fragments/header.html}"></th:block>

    <style>
        #doughnut .slick-slider__single {
            background: #FFFFFF;
            height: 400px;
            justify-content: space-evenly;
        }
    </style>

</head>

<body class="layout-light top-menu overlayScroll">
<div class="mobile-search"></div>

<div class="mobile-author-actions"></div>

<!-- 공통 topbar -->
<th:block th:include="@{/fragments/topbar.html}"></th:block>

<main class="main-content" style="background-color: #FCFCFC;">

    <div class="contents" style="background-color: #FFFFFF;">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body" style="height: 500px;">
                            <div id="doughnut" class="slick-slider slick-dots-bottom" data-dots-slick='true'>
                                <div class="slick-slider__single d-flex">
                                    <p class="color-primary fa-lg mb-3 mt-5 ml-3" style="color: black">총 품종 수</p>
                                    <div>
                                        <canvas id="doughnut1" height="300px"></canvas>
                                    </div>
                                    <p class="color-primary fa-lg mb-3 mt-5 ml-3" style="color: black">생산 판매 신고</p>
                                    <div>
                                        <canvas id="doughnut2" height="300px"></canvas>
                                    </div>
                                </div>
                                <div class="slick-slider__single d-flex">
                                    <p class="color-primary fa-lg mb-3 mt-5 ml-3" style="color: black">품종 보호 출원</p>
                                    <div>
                                        <canvas id="doughnut3" height="300px"></canvas>
                                    </div>
                                    <p class="color-primary fa-lg mb-3 mt-5 ml-3" style="color: black">품종 보호 등록</p>
                                    <div>
                                        <canvas id="doughnut4" height="300px"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <p class="color-primary fa-lg mb-3 mt-5 ml-3">작물별 품종 수</p>
                        <div class="card-body">
                            <div>
                                <canvas id="bar1" height="100px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <p class="color-primary fa-lg mb-3 mt-5 ml-3">시교 진행 현황</p>
                        <div class="card-body">
                            <div id="map1" style="width:800px;height:700px;"></div>
                            <div id="map2" style="width:800px;height:700px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- 공통 하단 -->
<th:block th:include="@{/fragments/footer.html}"></th:block>
<!-- 공통 js -->
<th:block th:include="@{/fragments/commonjs.html}"></th:block>

<!-- 지도 api -->


<script type="text/javascript">

    var ctx = document.getElementById("doughnut1");
    var doughnut1 = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["고추", "대파", "멜론", "무", "배추", "수박", "양배추", "양파", "참외", "토마토"],
            datasets: [{
                label: '#',
                data: [20.81, 8.09, 4.62, 8.09, 8.09, 2, 5.02, 8.61, 20.81, 14.45],
                backgroundColor: [
                    'rgb(255, 155, 147)',
                    'rgb(255, 207, 141)',
                    'rgb(247, 235, 137)',
                    'rgb(188, 227, 220)',
                    'rgb(184, 229, 252)',
                    'rgb(120, 210, 236)',
                    'rgb(178, 162, 207)',
                    'rgb(248, 184, 198)',
                    'rgb(243, 216, 197)',
                    'rgb(206, 187, 173)'
                ]
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                labels: {
                    fontColor: "black"
                }
            }
        }
    });

    var ctx = document.getElementById("doughnut2");
    var doughnut2 = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["고추", "대파", "멜론", "무", "배추", "수박", "양배추", "양파", "참외", "토마토"],
            datasets: [{
                label: '#',
                data: [20.81, 8.09, 4.62, 8.09, 8.09, 2, 5.02, 8.61, 20.81, 14.45],
                backgroundColor: [
                    'rgb(255, 155, 147)',
                    'rgb(255, 207, 141)',
                    'rgb(247, 235, 137)',
                    'rgb(188, 227, 220)',
                    'rgb(184, 229, 252)',
                    'rgb(120, 210, 236)',
                    'rgb(178, 162, 207)',
                    'rgb(248, 184, 198)',
                    'rgb(243, 216, 197)',
                    'rgb(206, 187, 173)'
                ]
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                labels: {
                    fontColor: "black"
                }
            }
        }
    });

    var ctx = document.getElementById("doughnut3");
    var doughnut3 = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["고추", "대파", "멜론", "무", "배추", "수박", "양배추", "양파", "참외", "토마토"],
            datasets: [{
                label: '#',
                data: [20.81, 8.09, 4.62, 8.09, 8.09, 2, 5.02, 8.61, 20.81, 14.45],
                backgroundColor: [
                    'rgb(255, 155, 147)',
                    'rgb(255, 207, 141)',
                    'rgb(247, 235, 137)',
                    'rgb(188, 227, 220)',
                    'rgb(184, 229, 252)',
                    'rgb(120, 210, 236)',
                    'rgb(178, 162, 207)',
                    'rgb(248, 184, 198)',
                    'rgb(243, 216, 197)',
                    'rgb(206, 187, 173)'
                ]
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                labels: {
                    fontColor: "black"
                }
            }
        }
    });

    var ctx = document.getElementById("doughnut4");
    var doughnut4 = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["고추", "대파", "멜론", "무", "배추", "수박", "양배추", "양파", "참외", "토마토"],
            datasets: [{
                label: '#',
                data: [20.81, 8.09, 4.62, 8.09, 8.09, 2, 5.02, 8.61, 20.81, 14.45],
                backgroundColor: [
                    'rgb(255, 155, 147)',
                    'rgb(255, 207, 141)',
                    'rgb(247, 235, 137)',
                    'rgb(188, 227, 220)',
                    'rgb(184, 229, 252)',
                    'rgb(120, 210, 236)',
                    'rgb(178, 162, 207)',
                    'rgb(248, 184, 198)',
                    'rgb(243, 216, 197)',
                    'rgb(206, 187, 173)'
                ]
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                labels: {
                    fontColor: "black"
                }
            }
        }
    });

    var ctx = document.getElementById("bar1");
    var bar1 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["2017", "2018", "2019", "2020", "2021"],
            datasets: [
                {
                    label: '고추',
                    data: [210, 315, 390, 70, 300],
                    backgroundColor:
                        'rgb(255, 155, 147)'

                },
                {
                    label: '대파',
                    data: [200, 400, 115, 500, 270],
                    backgroundColor:
                        'rgb(255, 207, 141)'

                },
                {
                    label: '멜론',
                    data: [35, 35, 60, 260, 300],
                    backgroundColor:
                        'rgb(247, 235, 137)'

                },
                {
                    label: '무',
                    data: [450, 430, 80, 210, 50],
                    backgroundColor:
                        'rgb(188, 227, 220)'

                },
                {
                    label: '배추',
                    data: [440, 60, 180, 290, 300],
                    backgroundColor:
                        'rgb(184, 229, 252)'

                },
                {
                    label: '수박',
                    data: [50, 80, 160, 470, 70],
                    backgroundColor:
                        'rgb(120, 210, 236)'

                },
                {
                    label: '양배추',
                    data: [480, 180, 230, 360, 20],
                    backgroundColor:
                        'rgb(178, 162, 207)'
                },
                {
                    label: '양파',
                    data: [460, 90, 400, 350, 330],
                    backgroundColor:
                        'rgb(248, 184, 198)'
                },
                {
                    label: '참외',
                    data: [450, 260, 330, 180, 410],
                    backgroundColor:
                        'rgb(243, 216, 197)'
                },
                {
                    label: '토마토',
                    data: [490, 280, 230, 400, 370],
                    backgroundColor:
                        'rgb(206, 187, 173)'
                }
            ]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 100,
                    }
                }]
            }
        }
    });
</script>

</body>

</html>